@charset "euc-kr";

#header{height:120px;}
.hearinp > input {
    width: 426px;
    height: 45px;
    border-top: 2px solid #4e4943;
    border-left: 2px solid #4e4943;
    border-bottom: 2px solid #4e4943;
    border-radius: 22px 0 0 22px;
    box-sizing: border-box;
    padding: 0 23px;
    font-weight: 600;
}
.logo {
    margin-top: 9px;
}
.headuli > ul > li {
    background: url(../images/new/headul.png) no-repeat 5px center;
	padding-left: 16px;
	line-height: 15px;
}
.headuli > ul > li > a {
    color: #2e2d2d;
    font-size: 13px;
    font-weight: 300;
}
.headuli {
    margin-top: 31px;
}
.bg_2c65aa {
    background-color: #fff;
    height: 46px;
	border-top:1px solid #d9d9d9;
	border-bottom:2px solid #f9b500;
}
.wrap_gnb{width:1103px;margin:0 auto;position:relative;}
#gnb_n{clear:both;height:34px}
#gnb_n ul{}
#gnb_n li {
    display: inline-block;
    float: left;
    padding: 11px 17px 15px;
    position: relative;
}
#gnb_n li a{letter-spacing:-1px;font-weight:600;display:block;color:#4f4b44;font-size:16px;}

#gnb_n ul.depth2 {
    position: absolute;
    width: 100%;
    background: #fff;
    border: 1px solid #d9d9d9;
    display: none;
    z-index: 1000;
    width: 215px;
    left: 0;
    top: 47px;
    box-sizing: border-box;
    padding: 16px 0 16px 25px;
    min-height: 163px;
}
#gnb_n ul.depth2 li{padding:0;display:block;clear:both;float:none;width:100%;position:relative}
#gnb_n ul.depth2 li a{color:#66625c;font-size:13px;padding:0;line-height:25px;}
#gnb_n ul.depth2 li a:hover{color:#f7b40a;}


.sub_tab3 th {
    background-color: #f3f3f3;
    color: #4e4943;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
	border-top: 2px solid #4e4943;
}
.sub_tab3 td{border-right: 1px solid #d9d9d9;border-left:0;color:#4e4943;font-size:13px;padding: 9px 9px;}
.sub_tab3,.sub_tab3 th:last-child,.sub_tab3 td:last-child {
    border-right: 0;
}

.sub_tab3_2 thead{display:none;}
.sub_tab3_2 td {
    text-align: center;
    padding: 9px 3px;
    border: 0 !important;
}
.sub_tab3_2 td,.sub_tab3_2 td *{color: #4e4943;font-size:13px;}

.con_rt_2 {
    margin: -113px 0px 0px 780px;
    height: 398px;
	position:relative;
}
#banners_bg{background: none;height: 421px;}

.blf_lf li{height:139px;box-sizing: border-box;padding: 28px 0 0px 20px;}
.blf_lf li strong{color: #fff;font-size:21px;display:block;letter-spacing:-2px;}
.blf_lf li strong span{font-size:14px;margin-left:5px;}
.blf_lf li p{color: #fff;font-size:12px;line-height:17px;padding:7px 0 0;letter-spacing: -1px;}

.blf_lf li:nth-child(1){height:140px;border-bottom:1px solid #dd9c82;background: #f36a37 url(../images/new/icon_main_banner_1.png) no-repeat right 0;}
.blf_lf li:nth-child(2){background: #009e9a url(../images/new/icon_main_banner_2.png) no-repeat right 0;}
.blf_lf li:nth-child(3){background: #ffe289 url(../images/new/icon_main_banner_3.png) no-repeat right 0;}

.blf_lf li:nth-child(3) strong{color: #1f1f1f;font-size:18px;}
.blf_lf li:nth-child(3) p{color: #66604e;}

.wrap_gnb .btn_sitemap{position:absolute;line-height:46px;right: -2px;top:0;letter-spacing:-1px;font-weight:600;color:#4f4b44;font-size:16px;border-right: 1px solid #d9d9d9;border-left: 1px solid #d9d9d9;width:110px;text-align:center;background:#fff;}
.wrap_gnb .btn_sitemap.active{border: 1px solid #f9b500;border-bottom:0;height: 50px;top: -1px;}
.wrap_gnb .btn_sitemap .icon{margin-right:9px;}

.list_sitemap {
	display:none;
    position: absolute;
    background: #fff url(../images/new/bg_sitemap.png) no-repeat 843px bottom;;
    width: 100%;
    z-index: 999;
    border: 1px solid #f9b500;
    border-top: 0;
    left: 0;
    top: 48px;
    overflow: hidden;
	padding:0 0 38px;
}
#banners {
    padding-top: 0;
}
.list_sitemap .cell{display:inline-block;padding:0 39px;float:left;height:203px;border-right:1px solid #e1e1e1;margin-top:28px;}
.list_sitemap .cell .tit {
    font-size: 22px;
    padding: 11px 2px 10px;
    letter-spacing: -1px;
}
.list_sitemap .cell ul{padding:12px 8px;}
.list_sitemap .cell ul li{line-height:24px;}
.list_sitemap .cell ul li a{font-weight:600;color:#4f4b44;font-size:14px;letter-spacing: -1px;}
.list_sitemap .cell1 .tit{background: url(../images/new/bar_sitemap_1.png) no-repeat 0 bottom;}
.list_sitemap .cell2 .tit{background: url(../images/new/bar_sitemap_2.png) no-repeat 0 bottom;}
.list_sitemap .cell3 .tit{background: url(../images/new/bar_sitemap_3.png) no-repeat 0 bottom;}
.list_sitemap .cell4 .tit{width:184px;background: url(../images/new/bar_sitemap_4.png) no-repeat 0 bottom;}
.list_sitemap .cell5 .tit{background: url(../images/new/bar_sitemap_5.png) no-repeat 0 bottom;}
.list_sitemap .cell6 .tit{width:142px;background: url(../images/new/bar_sitemap_6.png) no-repeat 0 bottom;}
.list_sitemap .cell7 .tit{width:159px;background: url(../images/new/bar_sitemap_7.png) no-repeat 0 bottom;}

.list_sitemap .cell1{background: url(../images/new/icon_sitemap01.png) no-repeat 152px 106px;}
.list_sitemap .cell2{background: url(../images/new/icon_sitemap02.png) no-repeat 152px 106px;}
.list_sitemap .cell3{background: url(../images/new/icon_sitemap03.png) no-repeat 152px 106px;}
.list_sitemap .cell4{border:0;background: url(../images/new/icon_sitemap04.png) no-repeat 145px 106px;}
.list_sitemap .cell5{background: url(../images/new/icon_sitemap05.png) no-repeat 152px 106px;}
.list_sitemap .cell6{background: url(../images/new/icon_sitemap06.png) no-repeat 152px 106px;}
.list_sitemap .cell7{border:0;background: url(../images/new/icon_sitemap07.png) no-repeat 152px 106px;}

.list_sitemap .btn_close{position:absolute;right:0;bottom:0;line-height:37px;width:74px;text-align:center;background:#f3f3f3;}

#slider002.flexslider .flex-control-nav {
    top: 381px;
    right: 198px;
}

#slider001.flexslider .slides li img {
    width: 100%;
}
#slider001.flexslider {
    width: 577px;
    height: auto;
}
.blf_rt {
    width: 577px;
}
#slider001.flexslider .flex-control-nav {
    bottom: 20px;
    left: 2%;
}


#banners .bx-wrapper .bx-pager {
    z-index: 999;
    position: absolute;
    left: 16px;
    bottom: 20px;
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 10px;
}
#banners .bx-wrapper .bx-pager .bx-pager-item,
#banners .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
#slider002{width:267px;float:left;}
#banners .bx-wrapper .bx-pager.bx-default-pager a {
	background: transparent;
	text-indent: -9999px;
	display: block;
	width: 8px;
	height: 8px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border:2px solid #fff;
}

#banners .bx-wrapper .bx-pager.bx-default-pager a:hover,
#banners .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #fff;
}

.message1 > li {
    float: left;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
}
.message1 > li:last-child{border-right: 1px solid #d9d9d9;}
.message1 > li a{
    height: auto;
    line-height: 100%;
    text-align: center;
}
.message1 > li a b{display:block;padding: 68px 0 18px;color: #4e4943;}
.message1 > li a.on b{color:#fff;}
.message1 > li:nth-child(1) a b{background: url(../images/new/icon_main_tab1.png) no-repeat center 18px;}
.message1 > li:nth-child(2) a b{background: url(../images/new/icon_main_tab2.png) no-repeat center 18px;}
.message1 > li:nth-child(3) a b{background: url(../images/new/icon_main_tab3.png) no-repeat center 18px;}
.message1 > li:nth-child(4) a b{background: url(../images/new/icon_main_tab4.png) no-repeat center 18px;}
.message1 > li:nth-child(5) a b{background: url(../images/new/icon_main_tab5.png) no-repeat center 18px;}

.message1 > li:nth-child(1) a.on b{background: url(../images/new/icon_main_tab1_on.png) no-repeat center 18px;}
.message1 > li:nth-child(2) a.on b{background: url(../images/new/icon_main_tab2_on.png) no-repeat center 18px;}
.message1 > li:nth-child(3) a.on b{background: url(../images/new/icon_main_tab3_on.png) no-repeat center 18px;}
.message1 > li:nth-child(4) a.on b{background: url(../images/new/icon_main_tab4_on.png) no-repeat center 18px;}
.message1 > li:nth-child(5) a.on b{background: url(../images/new/icon_main_tab5_on.png) no-repeat center 18px;}

.message_tp_rt a{font-size:13px;color:#4e4943;}
.message_tp_rt a strong {
    color: #f7b40a;
    vertical-align: 1px;
    font-size: 13px;
}

#foot_bor{margin-top:57px;}

.con_rt_2 .txt_custom{position:absolute;right:0;bottom:0;height:131px;width:100%;box-sizing:border-box;border:1px solid #e7e7e7;background:#fffaec url(../images/new/icon_tel.png) no-repeat 21px 18px;padding:16px 0 0 86px;}

.con_rt_2 .txt_custom .tit{font-size:16px;color:#000;}
.con_rt_2 .txt_custom .txt1 {
    font-size: 30px;
    color: #fd7725;
    font-weight: 600;
    letter-spacing: -1px;
    padding: 0 0 2px;
}
.con_rt_2 .txt_custom .txt2{font-size:12px;color:#626262;}
.con_rt_2 .txt_custom .txt3{font-size:12px;color:#fd7725;}

.message1_2 > li {
 border:0;
    
}
.message1_2 > li a{padding:0 17px;width:auto;border-right: 1px solid #d9d9d9;}
.message_bm_2 {
    background: #fff;
    border: 1px solid #d9d9d9;
    height: 44px;
}
.message1_2 > li > a {
    height: 44px;
    line-height: 44px;
	background-color: #f6f6f6;
	color:#918e8b;
}



.sub_tab3_2 td {
    text-align: left;
}


.message1_2 > li > a.on {
	color:#4e4943;
    background-color: #fff;
	 height: 45px;
}

.message1_2 .message_tp_rt {
    float: right;
    position: absolute;
    right: 11px;
    top: -39px;
}
.message1_2 .message_child_menu_2{width: 100%;border:1px solid #d9d9d9;border-top:0;right: -1px;}

.message1_2 .message_child_menu_2 a{text-align:left;display:inline-block;border:0;padding:0;padding-left:9px;background-color: #fff;background: url(../images/new/dot_notice.png) no-repeat 0 center;letter-spacing: -1px;font-size: 14px;color:#4e4943;}
.message1_2 .message_child_menu_2 td{
    font-size: 13px;
	padding: 7px 3px;
}

.message1_2 .message_child_menu_2 .ntbd {
    padding: 17px 5px 12px;
}

.wrap_menu_tail{background:#f6f6f6;}
.wrap_menu_tail .inner{position:relative;width:1105px;margin:0 auto;height:46px;line-height:46px;}

.wrap_menu_tail .inner .foot_rt {
    position:absolute;right:0;top:-2px;
    padding-top: 0;
}
#foot_bor {
    border-top: 0;
}
.wrap_menu_tail .menu_tail li{display:inline-block;padding-left:28px;background: url(../images/new/bar_tail.png) no-repeat 12px center;}
.wrap_menu_tail .menu_tail li:first-child{padding:0;background:none;}
.wrap_menu_tail .menu_tail a{font-size:13px;color:#5f5a52;}

#foot{position:relative;overflow: hidden;padding: 35px 0;}
#foot .icon{position:absolute;right:5px;top:36px;}
#foot .foot_lf{position:absolute;left:5px;top:36px;margin-right: 0;padding-top: 0;}
#foot .txt{padding:0 0 0 197px;font-size:14px;color:#5f5a52;line-height:25px;}

.mar_tp13{margin-top:13px;}

.hearinp {
    float: left;
    margin-left: 100px;
    margin-top: 21px;
}
.message1_2 .message_tp_rt a{padding:0;background:none;font-size:20px;color:#f7b40a;font-weight:600;}


.sub_lf_menu2 > li > a.on {
    background: url(../images/new/sub_14.png) no-repeat 20px center;
    color: #f9b500;
    font-weight: bold;
}
.sub_lf_menu > li > a.on {
    color: #f9b500;
}
.con_lf_big_title {
    background: url(../images/new/bg_sub_tit.png) no-repeat center center;
	background-size:cover;
}
.method_bg_25869b {
    background-color: #4e4943;
	letter-spacing:-1px;
}
.sub_con_h2 {
    background: url(../images/new/sub_08.png) no-repeat left 3px;
    color: #f9b500;
}
.wrap_menu_tail .inner .foot_rt select{font-size:12px;color:#5f5a52;height:22px;line-height:22px;padding: 1px 7px !important;width:154px !important;}

.bg_2e75b6{background: url(../images/new/tit_search_list.png) repeat-x left 0;}

.sub_tab1 td b{color:#ff8937;}

.btn_list_search{display:inline-block;color:#fff !important;letter-spacing:-1px;padding:0 10px 0 39px;line-height:25px;font-size:13px;}
.btn_list_search:hover{color:#fff !important;}
.btn_list_search.btn01{background: #ff7707 url(../images/new/icon_search_list_1.png) no-repeat 0 center;font-size:14px;}
.btn_list_search.btn02{background: #ff5b5d url(../images/new/icon_search_list_2.png) no-repeat 0 center;}
.btn_list_search.btn03{background: #95c000 url(../images/new/icon_search_list_3.png) no-repeat 0 center;    width: 124px;}

.bzhlag {
    width: 20px;
    height: 20px;
    background: white;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-left: 3px;
    border-radius: 2px;
    position: relative;
    padding: 2px 1px 0;
    margin-left: 10px;
}
.bg_2e75b6 h2{font-size:16px;}
.bzhlag .bzhlag22 strong{color:#ff7707;}
.bzhlag .bzhlag22 {
    display: none;
    position: absolute;
    top: 30px;
    left: -14px;
    width: 170px;
    height: auto;
    background: white;
    color: #545454;
    border-radius: 4px;
    border: 0;
    padding: 9px;
    text-align: left;
    font-size: 11px;
    line-height: 16px;
	letter-spacing:-1px;
}

.bzhlag .bzhlag22:after{content:'';width:11px;height:7px;background: url(../images/new/arrow_ball.png) no-repeat 0 center;position:absolute;left:20px;top:-7px;display:block;}

.subcetcol {
    height: 37px;
    border: 2px solid #dddcdc;
    background: #f8f8f8;
    margin-top: 6px;
	margin-bottom:21px;
}