.sub_tab{border-top:2px solid #474747;}
.sub_tab th{border-bottom:1px solid #d7d7d7;border-right:1px solid #d7d7d7;padding:13px 0;background-color:#fafafa;}
.sub_tab th.last_bor0{border-right:0}
.sub_tab td{border-bottom:1px solid #d7d7d7;border-right:1px solid #d7d7d7;padding:13px 0;}
.sub_tab td.last_bor0{border-right:0}
.sub_tab td.align_lf{text-align:left;}
.sub_tab td.pad_lf20{padding-left:20px;}
.sub_tab td.pad_rt20{padding-right:20px;}
.sub_tab td.align_lf20{text-align:left;padding-left:20px;}
.tab_lfbor{border-left:1px solid #dddddd;}
.td_cen td{text-align:center;}
.td_pad_lr20 td{padding:13px 20px;line-height:18px;}
.td_pad_lr20{border-left:1px solid #d7d7d7;}

/* .sub_tab1 th{border-bottom:1px solid #dddddd;background-color:#f8f8f8;padding:14px 0;} */
.sub_tab1 th{border-bottom:1px solid #dddddd;padding:14px 0;background:none;}/*2017-03-22*/
.sub_tab1 td{border-bottom:1px solid #dddddd;border-left:1px solid #dddddd;padding:14px 0 14px 20px;font-weight:bold;}

.sub_tab1_a{border-top:1px solid #dddddd;border-right:1px solid #dddddd;}
.sub_tab1_a th{border-bottom:1px solid #dddddd;border-left:1px solid #dddddd;background-color:#f8f8f8;padding:10px 0;}
.sub_tab1_a td{border-bottom:1px solid #dddddd;border-left:1px solid #dddddd;padding:10px 0 10px 20px;font-weight:bold;}
.sub_tab1_a td.lf_bor0{border-left:0;}

.sub_tab2{background-color:#fafafa;border:1px solid #dddddd;padding:20px 0;}
.sub_tab2 th{background:url(../images/sub_img/sub_16.png) no-repeat 20px center;text-align:left;padding:10px 0 10px 30px;}
.sub_tab2 td{padding:10px 0;}
.sub_tab2 td.bro175_posi{position:relative;padding-left:104px;}
.bro210{border-left:1px solid #dddddd;height:236px;position:absolute;left:50px;top:-20px;}
.bro173{border-left:1px solid #dddddd;height:173px;position:absolute;left:50px;top:-20px;}
.bro130{border-left:1px solid #dddddd;height:120px;position:absolute;left:50px;top:-20px;}
.bro95{border-left:1px solid #dddddd;height:95px;position:absolute;left:50px;top:-20px;}

.sub_tab3 th{background-color:#666666;color:#ffffff;padding:10px 0;border-right:1px solid #ffffff;border-bottom:1px solid #ffffff;}
.sub_tab3{border-right:1px solid #dddddd;}
.sub_tab3 td{text-align:center;padding:9px 3px;border-bottom:1px solid #dddddd;border-left:1px solid #dddddd;}
.sub_tab3 td.align_lf10{text-align:left;padding-left:10px;}
.td_pad5 td{padding:5px 3px;}