/**
 * Copyright 2007-2008 Jens Kapitza
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
TABLE.displaytag {
	padding: 0;
	margin: 1px;
	border: 1px solid #ccc;
	width: 99%;
}

TABLE.displaytag TH {
	background: #fcf1be;
	font: bold 0.7em Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	text-align: center;
	padding: 3px;
	border-bottom: 2px solid #ccc;
}

TABLE.displaytag TD {
	font: normal 0.7em Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	padding: 2px 3px 2px 3px;
	margin: 1px;
}

TABLE.displaytag TD img {
	border: 0;
}

TABLE.displaytag TD.rightalign {
	text-align: right;
}

TABLE.displaytag TD.centeralign {
	text-align: center;
}

TABLE.displaytag TR.odd TD {
	background-color: #fff;
}

TABLE.displaytag TR.even TD {
	background-color: #eee;
}

TABLE.displaytag TH.sorted {
	background-color: #f9e375;
}

TABLE.displaytag TH.sorted a,TABLE.displaytag TH.sortable a {
	display: block;
	color: #000;
	text-decoration: none;
}

TABLE.displaytag TH.sorted a:hover,TABLE.displaytag TH.sortable a:hover
	{
	color: #f00;
}

span.pagebanner {
	font: normal 0.7em Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 99%;
	margin-top: 10px;
	margin-bottom: 0px;
	display: block;
	border-bottom: none;
}

span.pagelinks {
	font: normal 0.7em Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 99%;
	display: block;
	border-top: none;
	margin-bottom: 5px;
}

span.pagelinks a {
	color: #00f;
}

span.pagelinks a:hover {
	color: #f00;
}

div.exportlinks {
	font-size: 0.8em;
	padding: 2px 4px 2px 4px;
	margin: 0 0 10px 0;
	width: 99%;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	cursor: pointer;
}



TABLE.displaytag TH.sorted a,TABLE.displaytag TH.sortable a {
	background: url(../img/arrow_off.gif) no-repeat right;
}

TABLE.displaytag TH.order1 a {
	background-image: url(../img/arrow_down.gif);
}

TABLE.displaytag TH.order2 a {
	background-image: url(../img/arrow_up.gif);
}

span.excel {
	background: url(../img/ico_file_excel.gif) no-repeat;
}

span.csv {
	background: url(../img/ico_file_csv.gif) no-repeat;
}

span.xml {
	background: url(../img/ico_file_xml.gif) no-repeat;
}

span.pdf {
	background: url(../img/ico_file_pdf.gif) no-repeat;
}