<?xml version="1.0" encoding="euc-kr" ?>
<taglib xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/
        http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
        version="2.0">
         
        <description>console</description>
        <tlib-version>2.0</tlib-version>
        <short-name>console</short-name>
         
        <tag>
            <name>fn</name>
            <tag-class>kr.or.copyright.mls.console.ConsoleTagHandler</tag-class>
            <body-content>empty</body-content>
            <attribute>
				<name>func</name>
				<required>true</required>
				<rtexprvalue>true</rtexprvalue>
			</attribute>   
			<attribute>
				<name>value</name>
				<required>true</required>
				<rtexprvalue>true</rtexprvalue>
			</attribute>  
			
			<attribute>
				<name>value1</name>
				<required>false</required>
				<rtexprvalue>true</rtexprvalue>
			</attribute> 
			
			<attribute>
				<name>value2</name>
				<required>false</required>
				<rtexprvalue>true</rtexprvalue>
			</attribute>  
			
			<attribute>
				<name>value3</name>
				<required>false</required>
				<rtexprvalue>true</rtexprvalue>
			</attribute>  
			
			<attribute>
				<name>list</name>
				<required>false</required>
				<rtexprvalue>true</rtexprvalue>
			</attribute>             
        </tag>   
</taglib>