@charset "euc-kr";

.tab_menuBg_top{overflow: hidden;width: 813px;}
.tab_menuBg_top li{width: 25%;float: left;border:1px solid #cccccc;border-bottom:0;border-radius:10px 10px 0 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-left:-1px ;}
.tab_menuBg_top li:first-child{margin: 0;}
.tab_menuBg_top li a{display: block;line-height:36px;text-align:center;font-size: 14px;color: #545454;font-weight:100 ;}
.tab_menuBg_top li.active{border-color:#f9b500;background: url(../images/new/tit_search_list.png) repeat-x left 0;}
.tab_menuBg_top li.active a{color: #fff;font-weight:800 ;}

.txt_num{position: relative;padding-left: 17px;}
.txt_num span{position: absolute;left: 0;top: 0;line-height: 15px;}

.addition{position: relative;padding-left: 17px;margin-left:20px ;}
.addition.ml0{margin-left:0 ;}
.addition span{position: absolute;left: 0;top: 0;line-height: 15px;color: #f9bb33;}


.txt_yellow_n{color: #f9bb33;}
.sub_con_h2.txt_black{color: #000;}
.txt_red{color: #ff0000;}
.fs14{font-size:14px !important;}
.fs13{font-size:13px !important;}
.fs12{font-size:12px !important;}
.letter-sp1{letter-spacing:-1px;}
.line-ht27{line-height: 27px;}

.mar_lf10{margin-left:10px;}
.mar_lf20{margin-left:20px;}

.list_step_apply{overflow:hidden;border-top:1px solid #e4e4e4;}
.list_step_apply li{position:relative;box-sizing:border-box;width:32%;float:left;padding:0px 35px 0 0px;height:63px;border-bottom:1px solid #e4e4e4;background:#f8f8fa;}
.list_step_apply li .wrap{padding:12px 0px 0 33px;height:62px;box-sizing: border-box;}
.list_step_apply li:after{content:'';width:36px;height:63px;position:absolute;right:0;top:-1px;background: url(../images/new/arrw_apply.png) 0 0 no-repeat;border-bottom:1px solid #e4e4e4;}
.list_step_apply li.active:after{background: url(../images/new/arrw_apply_on.png) 0 0 no-repeat;}
.list_step_apply li p{font-size: 13px;color: #9e9e9e;font-weight: 100;padding:0 0 3px;}
.list_step_apply li strong{font-size: 15px;color: #333333;font-weight: 600;}
.list_step_apply li.active::before {
    content: '';
    width: 36px;
    height: 63px;
    position: absolute;
    left: -35px;
    top: 0;
    background: url(../images/new/arrw_apply_on_after.png) 0 0 no-repeat;
}
.word_dian_bg.big {
	background-position:0px 9px  !important;
    background-size: 2px auto !important;
}

.list_step_apply li:nth-child(1){width: 36%;}
.list_step_apply li:nth-child(2) .wrap {
    padding: 12px 0px 0 62px;
}

.list_step_apply li:first-child{border-left:1px solid #e4e4e4;}
.list_step_apply li:last-child{border-right:1px solid #e4e4e4;}
.list_step_apply li:last-child:after{display:none;}
.list_step_apply li.active:last-child{background: url(../images/new/tit_search_list.png) repeat left 0;}

.list_step_apply li.active .wrap{background: url(../images/new/tit_search_list.png) repeat left 0;}
.list_step_apply li.active p{color: #fff;}
.list_step_apply li.active strong{color: #fff;}



.btm_form_box {padding:5px 0;display:inline-block;margin-left:18px ;}
.btm_form_box label strong{font-weight:600 ;}
.btm_form_box.ml0{margin-left:0 ;}
.btm_form_box input[type="checkbox"],.btm_form_box input[type="radio"] {display:none; }
.btm_form_box input[type="checkbox"] + label,.btm_form_box input[type="radio"] + label {padding-left:20px; display:inline-block; position:relative; font-size:12px; color:#545454; line-height:13px; cursor:pointer;font-weight:300 ;}
.list_copy .btm_form_box input[type="checkbox"] + label,.list_copy .btm_form_box input[type="radio"] + label { color:#545454;}

.btm_form_box input[type="checkbox"] + label:before,.btm_form_box input[type="radio"] + label:before {content:''; width:14px; height:14px; position:absolute; left:0px; top:0px; display:inline-block; background:url(../images/new/icon_check.png) 0 0 no-repeat; }
.btm_form_box input[type="checkbox"]:checked + label:before,.btm_form_box input[type="radio"]:checked + label:before{background:url(../images/new/icon_check_on.png) 0 0 no-repeat;}

.sub_tab td.td_center{text-align:center;}

.sub_tab.tbl_apply th .required{font-size: 13px;color: #ff0000;font-weight: 600;margin-left:3px ;}
.sub_tab.tbl_apply.td_padding td{padding: 10px 15px;}
.sub_tab.tbl_apply th{font-size:13px ;font-weight:600;}
.sub_tab.tbl_apply td{font-size:13px ;padding: 7px 10px;min-height:30px;}
.sub_tab.tbl_apply td *{font-size:13px ;}
.sub_tab.tbl_apply th:last-child,.sub_tab.tbl_apply td:last-child{border-right:0}

.tbl_apply.td_border0 tr:last-child td{border-bottom:0} 
.tbl_apply .link span{color: #2f67a8;}
.sub_tab.tbl_apply td .input_style1 {
    width: 100%;
    height: 30px;
    padding: 0 9px;
    line-height: 30px;
    border: 1px solid #b7b7b7;
	font-size:12px; 
    box-sizing: border-box;
}
.sub_tab.tbl_apply td .input_style1.height{height: 143px;}
.sub_tab.tbl_apply td .input_style1.w106{width: 106px;}
.sub_tab.tbl_apply td .input_style1.w47{width: 47px;}
.sub_tab.tbl_apply td .input_style1.w75{width: 75px;}
.sub_tab.tbl_apply td .input_style1.w100{width: 100px;}
.sub_tab.tbl_apply td .input_style1.w224{width: 224px;}

.sub_con_h2 .btn_example{float: right;display: inline-block;padding: 0 23px 0 5px;background: #fafafa url(../images/new/icon_example.png) 77px center no-repeat;border:1px solid #d7d7d7;border-radius:2px;font-size: 11px;color: #545454;font-weight: 300;line-height:20px;}

.btn_down_document,.btn_down_document:hover{display: inline-block;padding: 0 13px 0 40px;background: #2c65aa url(../images/new/icon_dow_n.png) 17px center no-repeat;border-radius:3px;font-size: 13px;color: #fff !important;font-weight: 300;line-height:31px;margin: 7px 0 0;}


.ovflow-h{overflow: hidden;}

.btn_area{text-align:center;}
.btn_area .btn_style1, .btn_area .btn_style2, .btn_area .btn_style3 {padding:0 19px; height:38px; display:inline-block; line-height:38px; background:#2c65aa; font-size:14px; text-align:center; color:#fff;vertical-align: top; border:0;margin: 0 3px;font-weight: 600;}
.btn_area .btn_style2{ background:#a9a9a9;}
.btn_area .btn_style3{ background:#f9b500;}

.insert_file_target {display:none;}
.list_file .input_style1{width:483px;height: 30px;border:1px solid #b7b7b7; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0 0 0 0;}
.insert_file.btn_style1,.insert_file.btn_style2{width: 70px; height:30px; display:inline-block; line-height:30px; background:#2c65aa; font-size:12px; text-align:center; color:#fff;margin: 0 0 0 3px;vertical-align: top; border:0;font-weight: 600;text-align:center;}
.insert_file.btn_style2{ background:#a9a9a9;}
.list_file{padding: 19px 0 0;}
.list_file .ment{padding: 0 0 12px 0;letter-spacing: -1px;}
.list_file .txt1{font-size: 15px;color: #333333;font-weight: 600;}
.list_file .txt2 {
    font-size: 13px;
    color: #f7b40a;
    font-weight: 500;
    padding: 4px 0 0 16px;
}

.view_apply{height: 325px;background:#f9f8f8;border:1px solid #eaeaea;margin: 39px 0 0;}