<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
                        "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>
 <tlib-version>1.0</tlib-version>
 <jsp-version>2.0</jsp-version>
 <short-name>ENCRYPT</short-name>
 <tag>
  <name>ENCRYPT</name>
  <tag-class>com.dreamsecurity.magicline.plugin.EncryptTag</tag-class>
  <body-content>JSP</body-content>
 </tag>
</taglib>
