body {
    background-color: white;
    padding: 0px;
    margin: 0px;
    font-family: "Lucida Grande","Lucida Sans","Microsoft Sans Serif", "Lucida Sans Unicode","Verdana","Sans-serif","gulim","trebuchet ms" !important;
    color: #111;
	font-size:12px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25em;
}
table {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
table thead tr th{
	padding: 0px;
	text-align: left;
	vertical-align: top;
	border: 0px;
}
table tbody tr td {
	padding: 0px;
	text-align: left;
	vertical-align: top;
	border: 0px;
}
table tr td {
	padding: 0px;
	text-align: left;
	vertical-align: top;
	border: 0px;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
ul li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

p {
}

TEXTAREA{
	font-size:12px;
}

a:link {
    color: #386698;
    text-decoration: none;
}

a:visited {
    color: #386698;
    text-decoration: none;
}

a:hover {
    color: #f47b20;
}

a img {
	border: 0px;
}

a.link-disable {
	cursor: text;
	color: #999;
}

/* Neutralize styling:
   Elements with a vertical margin: */
    h1, h2, h3, h4, h5, h6, p, pre,
    blockquote, ol, dl, address {
        margin: 0 0 0px;
        padding: 0px 0 0;
    }

form {
padding-top: 0px !important;
padding-bottom: 0px !important;
margin-top: 0px !important;
margin-bottom: 0px !important;
}

/* ---------------- template styles ------------------------- */
table#main-table {
	min-width: 985px;
	width: 100%;
}
table#main-table td {
	padding: 0px;
}
table#main-table td#header {
	background-image: url( ../images/ds-header-region-bg.gif);
    background-repeat: repeat-x;
    background-position: left top;
	height: 100px;
}

table#main-table td#menu-panel {
	background-color: #fff;
	padding-bottom: 20px;
	border-right: solid 1px #636466;
	width: 5%;
	font-size: 100%;
}

td#menu table#menu-table {
	width: 225px;
}

table#menu-table td {
}

table#menu-table td#region1 {
}

table#menu-table td#region2 {
}

table#menu-table td#region3 {
}

table#main-table td#middle-content {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #F4F4F4;
	width: 95%;

	background-image: url(../images/menu-margin.gif);
	background-position: left top;
	background-repeat: repeat-y;
}

td#middle-content table#content-table {
	width: 100%;
}

table#content-table td#page-header-links {
	height: 20px;
	vertical-align: middle;
	padding-bottom: 5px;
		margin-top:0px;
}

table#content-table td#body {
}

table#main-table td#footer {
	height: 25px;
	background-color: #bfbfbf;
}


/* ---------------- header styles ------------------ */
div#header-div {
    background-image: url( ../images/ds-header-bg.gif);
    background-repeat: no-repeat;
    background-position: left top;
    height: 100px;
    min-width: 985px;
}

div#header-div div.left-logo {
	/*background-image: url( ../images/header-logo.gif );*/
    background-repeat: no-repeat;
    background-position: left top;
	height: 32px;
	/*width: 332px;*/
	width: 332px;
	margin-top: 23px;
	margin-left: 20px;
	float: left;
}

div#header-div div.left-logo a.header-home {
display: block;
}

div#header-div div.left-logo a.header-home img{
display: block;
}

div#header-div div.right-logo {
	/*background-image: url( ../images/mgt-logo.gif);*/
    background-repeat: no-repeat;
    background-position: right top;
	line-height: 18px;
	height: 22px;
	float: right;
	width: 220px;
	margin-top: 28px;
	margin-right: 20px;
	color:#2F5699;
	font-size: 18px;
	font-weight: normal;
	text-align: right;
}

div#header-div div.header-links {
	clear: both;
	float: left;
	height: 25px;
	width: 100%;
	margin-top:10px;
}


div#header-div div.header-links div.right-links{
	clear: both;
	float: right;
	margin-right: 0px;
	height: 35px;
	padding-top: 0px;
}

div#header-div div.header-links div.right-links ul {
	background-image:url("../images/right-links-bg.gif");
	background-position:left top;
	background-repeat:repeat-x;
	padding-left: 25px;
	padding-right: 15px;
	padding-top: 9px;
	padding-bottom: 7px;
}

div.header-links ul {
	list-style: none;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding: 0px;
	float: right;
}

div.header-links ul li {
	position: relative;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}


/* ------------ page-header-links styles -------------- */

table.page-header-links-table {
	width: 100%;
}

table#main-table table.page-header-links-table tr td.page-header-help {
	text-align: right;
	font-size: 120%;
}

td.page-header-help a {
	background-image: url( ../images/help.gif);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    padding-bottom: 2px;
    display: block;
    float: right;
    z-index: 10;
}
div.page-header-help a {
	background-image: url( ../images/help.gif);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    padding-bottom: 2px;
    line-height: 17px;
    float: right;
    z-index: 10;
    padding-right: 15px;
    margin-top: 5px;
    position: relative;
}

table#main-table table.page-header-links-table tr td.breadcrumbs table.breadcrumb-table tr td.breadcrumb-link {
	padding-right: 0px;
	font-size: 90%;
}

table#main-table table.page-header-links-table tr td.breadcrumbs table.breadcrumb-table tr td.breadcrumb-link a{
	padding-right: 0px;
	font-size: 90%;
}

table#main-table table.page-header-links-table tr td.breadcrumbs table.breadcrumb-table tr td.breadcrumb-current-page a{
	padding-right: 0px;
	font-size: 90%;
	color: #999;
	cursor: text;
}


/* ------------- menu styles ---------------------- */
div#menu {
    margin-left: 0px;
    margin-right: 0px;
    min-width: 225px;
}

div#menu ul.main {
}

div#menu ul.main li {
    font-weight: normal;
}

div#menu ul.main li.normal {
}

div#menu ul.main li a.menu-home {
	font-weight:bold;
    height:22px;
    line-height:22px;
    padding-top:0px;
    padding-bottom:0px;
    display: block;
    /*width:215px;*/
    padding-left: 10px;
    padding-right: 20px;
    color: #0067B1;
    background-image: url(../images/home-bg.gif);
    background-repeat: repeat-x;
    background-position: left top;
}

div#menu ul.main li a.menu-home:hover {
	color: #111;
	background-image: none;
	background-color: #CCCCCC;
}

div#menu ul.main li.menu-header {
	background-image:url(../images/menu_header.gif);
    background-position: left bottom;
    background-repeat:repeat-x;
    font-weight:normal;
    height:28px;
    line-height:24px;
    padding-top:0px;
    padding-bottom:0px;
    display: block;
    /*width:215px;*/
    padding-left: 10px;
    padding-right: 20px;
    cursor: text;
}

div#menu ul.main li.menu-header img {
	float:right;
	margin-right:-15px;
	margin-top:4px;
	cursor: pointer;
}

div#menu ul.main li.menu-disabled-link img {
	float:right;
	margin-right:-15px;
	cursor: pointer;
}

div#menu ul.main li a.menu-default {
    background-image: url( ../images/default-menu-icon.gif );
    background-repeat: no-repeat;
    background-position: 16px 2px;
    background-color: transparent;
    height: 16px;
    display: block;
    /*width:187px;*/
    padding-left: 38px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
	color: #2F7ABD;
    font-weight:normal;
}

div#menu ul.main li a.menu-default-selected {
    background-image: url( ../images/default-menu-icon.gif );
    background-repeat: no-repeat;
    background-position: 16px 2px;
    background-color: transparent;
    height: 16px;
    display: block;
    /*width:187px;*/
    padding-left: 38px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
	color: #2F7ABD;
    font-weight:normal;
}

div#menu ul.main li a.menu-default:hover {
	background-color: #D3E3FF;
	border-bottom: solid 1px #99BEFF;
	border-top: solid 1px #99BEFF;
	color: #00447C;
}

div#menu ul.main li.menu-disabled-link {
	background-image: url( ../images/default-menu-icon.gif );
    background-repeat: no-repeat;
    background-position: 16px 2px;
	background-color: #F5F5F5;
	color: #111111;
    height: 16px;
    display: block;
    /*width:187px;*/
    padding-left: 38px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    font-weight:normal;
    cursor:text;
}

div#menu ul.sub li a.menu-disabled-link:hover {
	background-color: #F5F5F5;
	color: #111111;
}

div#menu ul.sub {
    *margin-top: -13px;
}

/* -------------- child no-01 styles -------------- */

div#menu ul.sub li a.menu-default {
    background-position: 16px 2px;
    /*width:187px;*/
    padding-left: 38px;
    padding-right: 20px;
    color: #2F7ABD;
}

	/* ----------- child no-01 (disabled) styles ------------------- */

	div#menu ul.sub li.menu-disabled-link {
		background-position: 16px 2px;
	    /*width:187px;*/
	    padding-left: 38px;
	    padding-right: 20px;
	    color: #111;
	}

/* -------------- child no-02 styles -------------- */

div#menu ul.sub li.normal ul.sub li a.menu-default {
    background-position: 32px 2px;
    /*width:171px;*/
    padding-left: 54px;
    padding-right: 20px;
}

	/* ----------- child no-02 (disabled) styles ------------------- */

	div#menu ul.sub li.normal ul.sub li.menu-disabled-link {
	    background-position: 32px 2px;
	    /*width:171px;*/
	    padding-left: 54px;
	    padding-right: 20px;
	}


/* -------------- child no-03 styles -------------- */

div#menu ul.sub li.normal ul.sub li.normal ul.sub li a.menu-default {
    background-position: 48px 2px;
    /*width:155px;*/
    padding-left: 70px;
    padding-right: 20px;
}

	/* ----------- child no-03 (disabled) styles ------------------- */

	div#menu ul.sub li.normal ul.sub li.normal ul.sub li.menu-disabled-link {
	    background-position: 48px 2px;
	    /*width:155px;*/
	    padding-left: 70px;
	    padding-right: 20px;
	}

/* -------------- child no-04 styles -------------- */

div#menu ul.sub li.normal ul.sub li.normal ul.sub li.normal ul.sub li a.menu-default {
    background-position: 64px 2px;
    /*width:139px;*/
    padding-left: 86px;
    padding-right: 20px;
}

	/* ----------- child no-04 (disabled) styles ------------------- */

	div#menu ul.sub li.normal ul.sub li.normal ul.sub li.normal ul.sub li.menu-disabled-link {
	    background-position: 64px 2px;
	    /*width:139px;*/
	    padding-left: 86px;
	    padding-right: 20px;
	}

/* -------------- child no-05 styles -------------- */

div#menu ul.sub li.normal ul.sub li.normal ul.sub li.normal ul.sub li.normal ul.sub li a.menu-default {
    background-position: 80px 2px;
    /*width:123px;*/
    padding-left: 102px;
    padding-right: 20px;
}

	/* ----------- child no-05 (disabled) styles ------------------- */

	div#menu ul.sub li.normal ul.sub li.normal ul.sub li.normal ul.sub li.normal ul.sub li.menu-disabled-link {
	    background-position: 80px 2px;
	    /*width:123px;*/
	    padding-left: 102px;
	    padding-right: 20px;
	}

/* ------------- footer styles -------------------- */

div#footer-div {
	height: 27px;
	width: 100%;
}

div#footer-div div.footer-content {
	height: 27px;
	margin: auto;
	padding: 0px;
}

div#footer-div div.footer-content div.copyright {
	padding-top: 5px;
	color: #fff;
	width: 450px;
	float: left;
	margin-left: 20px;
}

div#footer-div div.footer-content div.poweredby {
	background-image: url( ../images/powered.gif);
    background-repeat: no-repeat;
    background-position: left 3px;
    width: 127px;
    height: 27px;
    float: right;
    margin-right: 20px;
}

/* --------------- middle content styles ----------------- */

div#middle {
    background-color: #F4F4F4;
    width: 100%;
}

div#middle div#workArea {
    padding: 10px;
    background-color: white;
}

div#middle h2 {
    color: #0D4d79;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 150%;
    font-weight: normal;
    padding-bottom: 5px;
    border-bottom: solid 1px #96A9CA;
}

div#middle div#workArea h3 {\
	color: #0D4d79;
	font-size: 140%;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 10px;
}
div#middle div#workArea h4 {
	font-size: 130%;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 10px;
}
div#middle div#workArea h5 {
	font-size: 120%;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 10px;
}
div#middle div#workArea h3.mediator {
	font-size: 120%;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 4px;
    border-bottom: solid 1px #ccc;

}
/* ---- login styles ----- */

div#middle div#features {
	padding-right: 30px;
}
div#features tr.feature {
}
div#features tr.feature td {
	border-top: solid 1px #BCBEC0;
	padding-top: 20px;
	padding-bottom: 20px;
}
div#features tr.feature-top {
}
div#features tr.feature-top td {
	border-top: solid 0px #BCBEC0;
	padding-top: 0px;
	padding-bottom: 20px;
}
tr.feature td img {
	float: left;
	margin-right: 20px;
}

tr.feature h3 {
	font-weight: normal;
	font-size: 120%;
	color: #0067B1;
}

div#middle div#loginbox {
	background-color: #fff;
	border: solid 1px #BCBEC0;
	padding: 20px;
	margin-top: 10px;
}

div#loginbox {
	text-align: center;
}

div#loginbox h2 {
	font-weight: normal;
	font-size: 150%;
	text-align: center;
	color: #0067B1;
	margin-bottom: 10px;
	padding-bottom: 15px;
}

div#loginbox table {
	margin: auto;
}

div#loginbox table tr td {
	padding: 3px;
}

div#loginbox a{
}

div#loginbox input.user {
	width: 150px !important;
}

div#loginbox input.password {
	width: 150px !important;
}

/* ------------- REFINED ------------------ */
/* ------------- Table Styled Left -------- */
div#workArea table.styledLeft {
    border-collapse: collapse;
    margin-left: 2px;
    width: 100%;
}

div#workArea table.styledSession{
	border-collapse: collapse;
    margin-left: 2px;
    width: 600;
}


div#workArea table.styledLeft thead th {
    background-image:url(../images/table-header.gif);
    background-position: left bottom;
    background-repeat:repeat-x;
    border:1px solid #cccccc;
    font-weight:normal;
    height:22px;
    line-height:20px;
    margin-bottom:5px;
    padding-left:8px;
}

div#workArea table.styledLeft tbody tr td.middle-header {
    background-image:url(../images/table-header.gif);
    background-position: left bottom;
    background-repeat:repeat-x;
    border:1px solid #cccccc;
    font-weight:normal;
    height:22px;
    line-height:20px;
    margin-bottom:5px;
    padding-left:8px;
}

div#workArea table.styledLeft tbody tr td.sub-header {
	background-image:url(../images/table-header.gif);
    background-position: left bottom;
    background-repeat:repeat-x;
    border:1px solid #cccccc;
    border-bottom: 0px solid #666;
    border-top: 1px solid #666;
    font-weight:normal;
    height:22px;
    line-height:20px;
    margin-bottom:5px;
    padding-left:8px;
}

div#workArea table.styledLeft tbody tr td {
    border: solid 1px #cccccc;
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    vertical-align: middle !important;
}

div#workArea table.styledLeft tbody tr td.nopadding {
    border: solid 1px #cccccc;
    height: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    vertical-align: middle !important;
}
div#workArea table.styledLeft tbody tr td.formRow {
     padding-top: 10px;
     padding-bottom: 10px;
     border-right: solid 1px #cccccc;
 }
div#workArea table.styledLeft tbody tr td.buttonRow {
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: url(../images/buttonRow-bg.gif);
    background-position: left top;
    background-repeat: repeat-x;
}
/* ------------- Table Styled Inner -------- */
div#workArea table.styledInner {
    border-collapse: collapse;
    margin-left: 2px;
    width: 100%;
}

div#workArea table.styledInner thead th {
	background-image: none;
	background-color: #E7E7E8;
    border:1px solid #cccccc;
    font-weight:normal;
    height:22px;
    line-height:20px;
    margin-bottom:5px;
    padding-left:8px;
}
div#workArea table.styledInner tbody tr td {
    border: solid 1px #cccccc !important;
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    vertical-align: middle !important;
}
.buttonRowAlone {
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: url(../images/buttonRow-bg.gif);
    background-position: left top;
    background-repeat: repeat-x;
    border-bottom: solid 1px #cccccc;
    border-top: solid 1px #cccccc;
}
div#workArea table.noBorders tbody tr td {
    border:none;
}
div#workArea table.noBorders tbody tr td table.styledLeft td {
    border: solid 1px #cccccc;
}
div#workArea table.noBorders{
border: solid 1px #cccccc;
}
div#workArea table.normal {
	border-collapse: separate;
	padding: 3px;
}
div#workArea table.normal-nopadding {
	border-collapse: separate;
	padding: 0px;
	width: 100%;
}
div#workArea table.normal tbody tr td {
	border: 0px;
}
div#workArea table.normal-nopadding tbody tr td {
    border: solid 0px #cccccc !important;
    height: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    vertical-align: middle !important;
}
div#workArea table.normal-nopadding tbody tr td.top-align {
    vertical-align: top !important;
}
div#workArea table.normal-nopadding tbody tr td.middle-header {
    background-image:url(../images/table-header.gif);
    background-position: left bottom;
    background-repeat:repeat-x;
    border-top:1px solid #cccccc !important;
    border-bottom:1px solid #cccccc !important;
    border-left:0px solid #cccccc;
    border-right:0px solid #cccccc;
    font-weight:normal;
    height:22px;
    line-height:20px;
    margin-bottom:5px;
    padding-left:8px;
}
div#workArea table.normal-nopadding tbody tr td.sub-header {
	background-image: none;
    background-color: #ededed;
    border-top:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    font-weight:normal;
    height:22px;
    line-height:20px;
    margin-bottom:5px;
    padding-left:8px;
}
div#workArea table.normal-nopadding tbody tr td.nopadding {
padding: 0px !important;
border: 0px !important;
}
div#workArea table.normal tbody tr td.nopadding {
padding: 0px !important;
border: 0px !important;
}
/* ---------------- table styles --------------------------- */
.tableOddRow{background-color: white;}
.tableEvenRow{background-color: #ededed;}

.button{
	background-image:url(../images/button-bg.gif);
	background-repeat:repeat-x;
	background-position:0 0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top:0px;
	padding-bottom:0px;
	border:solid 1px #9D9FA1;
}
.button:focus{
	background-image:url(../images/button-bg-focus.gif);
}
.button:hover{
	background-image:url(../images/button-bg-hover.gif);
	border:solid 1px #8268A8;
}


a.icon-link {
background-image: url(../images/default-menu-icon.gif);
background-repeat: no-repeat;
background-position: left top;
padding-left: 20px;
line-height: 17px;
height: 17px;
float: left;
position: relative;
margin-left: 10px;
margin-top: 5px;
margin-bottom: 3px;
white-space: nowrap;
cursor:pointer;
}
a.icon-link-nofloat {
background-image: url(../images/default-menu-icon.gif);
background-repeat: no-repeat;
background-position: left top;
padding-left: 20px !important;
padding-bottom: 2px;
line-height: 17px;
height: 17px;
margin-left: 10px;
margin-right: 20px !important;
margin-top: 5px;
margin-bottom: 3px;
white-space: nowrap;
display: block;
}
a.delete-icon-link {
    background-image: url( ../images/delete.gif );
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;
}
a.delete-icon-link-nofloat {
    background-image: url( ../images/delete.gif );
    background-repeat: no-repeat;
    background-position: left 2px;
    padding-left: 20px;
    line-height: 23px;
    height: 23px;
    float: none;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
}
a#delete1, a#delete2 {
    background-image: url( ../images/delete.gif );
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

a#icon {
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}


a.edit-icon-link {
    background-image: url( ../images/edit.gif );
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;
}
a.copy-icon-link {
    background-image: url( ../images/copy.gif );
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;
}
a.move-icon-link {
    background-image: url( ../images/move.gif );
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;
}
a.view-icon-link {
    background-image: url( ../images/view.gif );
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;
}
a.feed-small-res-icon-link {
    background-image: url( ../images/icon-feed-small-res.gif );
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;
}
a.registry-picker-icon-link {
    background-image: url( ../images/registry_picker.gif );
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;
}
a.nseditor-icon-link {
    background-image: url( ../images/nseditor-icon.gif );
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;
}
a.add-icon-link {
    background-image: url( ../images/add.gif );
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;
}
a.policie-icon-link {
    background-image: url( ../images/policies.gif );
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;
}
span.icon-text {
background-image: url(../images/default-menu-icon.gif);
background-repeat: no-repeat;
background-position: left top;
padding-left: 20px;
line-height: 17px;
height: 17px;
float: left;
position: relative;
margin-left: 10px;
margin-top: 3px;
margin-bottom: 3px;
white-space: nowrap;
}
span.icon-text-disabled {
background-image: url(../images/default-menu-icon.gif);
background-repeat: no-repeat;
background-position: left top;
padding-left: 20px;
line-height: 17px;
height: 17px;
float: left;
position: relative;
margin-left: 10px;
margin-top: 3px;
margin-bottom: 3px;
white-space: nowrap;
color: #999;
}
select {
font-size: 100%;
}
.required{
color:red;
}
.longInput{
width:250px;
}
.leftCol-small{
width:150px;
}
.leftCol-med{
width:250px;
}
.leftCol-big{
width:350px;
}
.ajax-loading-message{
position:relative;
margin-top:100px;
margin-left:150px;
font-size:15px;
font-weight:bold;
color:#aaaaaa;
}
.ajax-loading-message img{
margin-right:20px;
}
/*--- service parameter page styles ( use to remove the unwanted colors inherited from Highlightre styles ---- */
div.dp-highlighter {
background-color: transparent;
}
div.dp-highlighter ol {
background-color: transparent;
}
div.dp-highlighter ol li.alt {
background-color: transparent;
}
div.dp-highlighter ol li, .dp-highlighter .columns div {
background-color: transparent;
}
input.text-box-big {
width: 250px;
}
.info-box{
background-color:#EEF3F6;
border:1px solid #ABA7A7;
font-size:13px;
font-weight:bold;
margin-bottom:10px;
padding:10px;
}
.mSelected {
    background-color: #DDDDDD !important;
}
div.clear  {
font-size:4px;
line-height:4px;
}

pre.programlisting, pre.screen {
	background-color: #F0F0F0;
	border-bottom: none;
	color: #990033;
	font-size: 9pt;
	font-family: "Courier New";
	padding-left: 10pt;
	padding-right: 10pt;
}
span.emphasis {
	color: #24753C;
}

