<br/><br/>

저작권찾기 메인화면 <a href="main1.jpg">[1]</a> <a href="main2.jpg">[2]</a>
<br/><br/>

1. 저작권 통합검색  <a href="srchList.html">[이동]</a>

<br/><br/>

2. 상당한노력 신청(거소불명) <a href="statBo06Regi.html">[이동]</a>

<br/><br/>

3. 상당한노력 공고 조회 - 목록, 상세, 이의제기  <a href="statBo01List.html">[이동]</a>

<br/><br/>

4. 법정허락 신청 대상 저작물 조회  <a href="statBo02List.html">[이동]</a>

<br/><br/>

5. 선택저작물 이용승인신청 화면  <a href="statPrpsMain.html">[이동]</a>

<br/><br/>

6. 개인 이용승인신청 화면  <a href="statPrpsMain_priv.html">[이동]</a>
