@charset "euc-kr";
/* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); */
#skipNav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
}
#skipNav a {
    display: block;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: #F36A37;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    height: 0;
    overflow: hidden;
}
#skipNav a:focus {
  height:50px;
}
body * {
  font-family:'Nanum Gothic',monospace;
}
textarea:focus,input:focus,*:focus {
  /*outline:none;*/
}
:focus {
  /* outline-width: 5px; */
  /* outline-style: dotted; */
  /* outline-color: #333; */
}

.form-control:active, .comment-reply-link:hover,
.form-control:focus, .comment-reply-link:focus {
  /* outline-width: 5px; */
  /* outline-style: dotted; */
  /* outline-color: #333; */
}
#header {
  height:100px;
}
.hearinp>input {
  width:426px;
  height:45px;
  border-top:2px solid #4e4943;
  border-left:2px solid #4e4943;
  border-bottom:2px solid #4e4943;
  border-radius:22px 0 0 22px;
  box-sizing:border-box;
  padding:0 23px;
  font-weight:600;
  margin-left: 85px;
}
.logo {
  margin-top:9px;
}
.headuli>ul>li {
  background:url(/images/2017/new/headul.png) no-repeat 5px center;
  padding-left:16px;
  line-height:15px;
}
.headuli>ul>li>a {
  color:#2e2d2d;
  font-size:13px;
  font-weight:300;
}
.headuli {
  margin-top:31px;
}
.bg_2c65aa {
  background-color:#fff;
  height:46px;
  border-top:1px solid #d9d9d9;
  border-bottom:2px solid #f05a22;
}
.wrap_gnb {
  width:1103px;
  margin:0 auto;
  position:relative;
}
#gnb_n {
  clear:both;
  height:50px
}
#gnb_n ul {
}
#gnb_n li {
  display:inline-block;
  float:left;
  padding:11px 21px 18px;
  position:relative;
}
#gnb_n li a {
  letter-spacing:-1px;
  font-weight:600;
  display:block;
  color:#4f4b44;
  font-size:16px;
}
#gnb_n ul.depth2 {
  position:absolute;
  width:100%;
  background:#fff;
  border:1px solid #d9d9d9;
  display:none;
  z-index:1000;
  width:215px;
  left:0;
  top:46px;
  box-sizing:border-box;
  padding:16px 0 16px 20px;
  min-height:163px;
}
#gnb_n ul.depth2 li {
  padding:0;
  display:block;
  clear:both;
  float:none;
  width:100%;
  position:relative
}
#gnb_n ul.depth2 li a {
  color:#66625c;
  font-size:13px;
  padding:0;
  line-height:25px;
  letter-spacing:-1px;
}
#gnb_n ul.depth2 li a:hover,#gnb_n li a:hover {
  color:#f05a22;
}
.sub_tab3 th {
  background-color:#f3f3f3;
  color:#4e4943;
  border-right:1px solid #d9d9d9;
  border-bottom:1px solid #d9d9d9;
  border-top:2px solid #4e4943;
}
.sub_tab3 td {
  border-right:1px solid #d9d9d9;
  border-left:0;
  color:#4e4943;
  font-size:13px;
  padding:9px 9px;
}
.sub_tab3,.sub_tab3 th:last-child,.sub_tab3 td:last-child {
  border-right:0;
}
.sub_tab3_2 thead {
  display:none;
}
.sub_tab3_2 td {
  text-align:center;
  padding:9px 3px;
  border:0 !important;
}
.sub_tab3_2 td,.sub_tab3_2 td * {
  color:#4e4943;
  font-size:13px;
}
.con_rt_2 {
  margin:-113px 0px 0px 780px;
  height:398px;
  position:relative;
}
#banners_bg {
  background:none;
  height:421px;
}
.blf_lf li {
  height:139px;
  box-sizing:border-box;
  padding:28px 0 0px 20px;
}
.blf_lf li strong {
  color:#fff;
  font-size:21px;
  display:block;
  letter-spacing:-2px;
}
.blf_lf li strong span {
  font-size:14px;
  margin-left:5px;
}
.blf_lf li p {
  color:#fff;
  font-size:12px;
  line-height:17px;
  padding:7px 0 0;
  letter-spacing:-1px;
}
.blf_lf li:nth-child(1) {
  height:140px;
  color:#1f1f1f;
  border-bottom:1px solid #dd9c82;
  background:#009e9a url(/images/2017/new/icon_main_banner_2.png) no-repeat right 0;
}
.blf_lf li:nth-child(2) {
  color:#1f1f1f;
  background:#ffe289 url(/images/2017/new/icon_main_banner_3.png) no-repeat right 0;
}
.blf_lf li:nth-child(3) {
  color:#1f1f1f;
  background:#f36a37 url(/images/2017/new/icon_main_banner_1.png) no-repeat right 0;
}
.blf_lf li:nth-child(1) strong {
  color:#1f1f1f;
  font-size:17px;
}

.blf_lf li:nth-child(2) strong {
  color:#1f1f1f;
  font-size:17px;
}

.blf_lf li:nth-child(3) strong {
  color:#1f1f1f;
  font-size:17px;
}

.blf_lf li:nth-child(1) a {
  color:#1f1f1f;
}

.blf_lf li:nth-child(2) a {
  color:#1f1f1f;
}

.blf_lf li:nth-child(3) a {
  color:#1f1f1f;
}
.wrap_gnb .btn_sitemap {
  position:absolute;
  line-height:46px;
  right:-2px;
  top:0;
  letter-spacing:-1px;
  font-weight:600;
  color:#4f4b44;
  font-size:16px;
  border-right:1px solid #d9d9d9;
  border-left:1px solid #d9d9d9;
  width:110px;
  text-align:center;
  background:#fff;
}
.wrap_gnb .btn_sitemap.active {
  border:1px solid #f05a22;
  border-bottom:0;
  height:50px;
  top:-1px;
}
.wrap_gnb .btn_sitemap .icon {
  margin-right:9px;
}
.list_sitemap {
  display:none;
  position:absolute;
  /* background:#fff url(/images/2017/new/bg_sitemap.png) no-repeat 843px bottom; */
  background:#fff url(/images/2017/new/bg_sitemap.jpg) no-repeat 0px bottom;
  width:100%;
  z-index:1000;
  border:1px solid #f05a22;
  border-top:0;
  left:0;
  top:48px;
  overflow:hidden;
  padding:0 0 38px;
}
#banners {
  padding-top:0;
  /* margin: ; */
}
.list_sitemap .cell {
  display:inline-block;
  padding:0 39px;
  float:left;
  height:203px;
  
  border-left:1px solid #e1e1e1;
  margin-top:28px;
}

.list_sitemap .cell {
  position: relative;
}

.list_sitemap .cell .tit {
  font-size:22px;
  padding:11px 2px 10px;
  letter-spacing:-1px;
}
.list_sitemap .cell ul {
  padding:12px 8px;
}
.list_sitemap .cell ul li {
  line-height:24px;
}
.list_sitemap .cell ul li a {
  font-weight:600;
  color:#4f4b44;
  font-size:14px;
  letter-spacing:-1px;
}
.list_sitemap .cell1 .tit {
  background:url(/images/2017/new/bar_sitemap_1.png) no-repeat 0 bottom;
  color:#EF3E00;
}
.list_sitemap .cell2 .tit {
  width:184px;
  background:url(/images/2017/new/bar_sitemap_2.png) no-repeat 0 bottom;
  color:#009e9a;
}
.list_sitemap .cell3 .tit {
  background:url(/images/2017/new/bar_sitemap_3.png) no-repeat 0 bottom;
  color:#f05a22;
}
.list_sitemap .cell4 .tit {
  width:184px;
  background:url(/images/2017/new/bar_sitemap_4.png) no-repeat 0 bottom;
  color:#7B9B0B;
}
.list_sitemap .cell5 .tit {
  background:url(/images/2017/new/bar_sitemap_5.png) no-repeat 0 bottom;
  color:#4f88ce;
}
.list_sitemap .cell6 .tit {
  width:142px;
  background:url(/images/2017/new/bar_sitemap_6.png) no-repeat 0 bottom;
  color:#9676bf;
}
.list_sitemap .cell7 .tit {
  width:159px;
  background:url(/images/2017/new/bar_sitemap_7.png) no-repeat 0 bottom;
  color:#ff7075;
}
.list_sitemap .cell1 {
  margin-right : 10px;
  background:url(/images/2017/new/icon_sitemap01.png) no-repeat 152px 106px;
}
.list_sitemap .cell2 {
  left: 0px;
  /* padding-right : 100px; */
  background:url(/images/2017/new/icon_sitemap02.png) no-repeat 152px 106px;
}
.list_sitemap .cell3 {
  left: 10px;
  background:url(/images/2017/new/icon_sitemap03.png) no-repeat 152px 106px;
}
.list_sitemap .cell4 {
  left: 30px;
  background:url(/images/2017/new/icon_sitemap04.png) no-repeat 145px 106px;
}
.list_sitemap .cell5 {
  left:517px;
  background:url(/images/2017/new/icon_sitemap05.png) no-repeat 152px 106px;
}
.list_sitemap .cell6 {
  left:561px;
  background:url(/images/2017/new/icon_sitemap06.png) no-repeat 152px 106px;
}
.list_sitemap .cell7 {
  left:567px;
  border:0;
  background:url(/images/2017/new/icon_sitemap07.png) no-repeat 152px 106px;
}
.list_sitemap .btn_close {
  position:absolute;
  right:0;
  bottom:0;
  line-height:37px;
  width:74px;
  text-align:center;
  background:#f3f3f3;
}
#slider002.flexslider .flex-control-nav {
  top:381px;
  right:198px;
}
#slider001.flexslider .slides li img {
  width:100%;
}
#slider001.flexslider {
  width:577px;
  height:auto;
}
.blf_rt {
  width:577px;
}
#slider001.flexslider .flex-control-nav {
  bottom:20px;
  left:2%;
}
#banners .bx-wrapper .bx-pager {
  z-index:999;
  position:absolute;
  left:60px;
  bottom:0px;
  text-align:center;
  font-size:.85em;
  font-family:Arial;
  font-weight:bold;
  color:#666;
  padding-top:10px;
 
}

#banners .bx-wrapper .bx-pager .bx-pager-item,#banners .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display:inline-block;
  /* *zoom:1;*/
  display:inline-block;/* *display:inline;*/
  font-size: 17px;
  margin-right: 12px;
  width: 17px;
  position: relative;
  left: 20px;
  bottom: 30px;
  z-index: 999;
}
#slider002 {
  width:267px;
  float:left;
}
#banners .bx-wrapper .bx-pager.bx-default-pager a {
  background:transparent;
  text-indent:-9999px;
  display:table-caption;
  width:17px;
  height:17px;
  margin:0 5px;
  /* outline:0; */
  /*-moz-border-radius:50%;*/
  /*-webkit-border-radius:50%;*/
  border-radius:50%;
  border:2px solid black;
}
#banners .bx-wrapper .bx-pager.bx-default-pager a:hover,#banners .bx-wrapper .bx-pager.bx-default-pager a.active {
  background:#000;
}
.message1>li {
  float:left;
  border-top:1px solid #d9d9d9;
  border-bottom:1px solid #d9d9d9;
  border-left:1px solid #d9d9d9;
}
.message1>li:last-child {
  border-right:1px solid #d9d9d9;
}
.message1>li a {
  height:auto;
  line-height:100%;
  text-align:center;
}
.message1>li a b {
  display:block;
  padding:68px 0 18px;
  color:#4e4943;
}
.message1>li a.on b {
  color:#fff;
}
.message1>li:nth-child(1) a b {
  background:url(/images/2017/new/icon_main_tab1.png) no-repeat center 18px;
}
.message1>li:nth-child(2) a b {
  background:url(/images/2017/new/icon_main_tab2.png) no-repeat center 18px;
}
.message1>li:nth-child(3) a b {
  background:url(/images/2017/new/icon_main_tab3.png) no-repeat center 18px;
}
.message1>li:nth-child(4) a b {
  background:url(/images/2017/new/icon_main_tab4.png) no-repeat center 18px;
}
.message1>li:nth-child(5) a b {
  background:url(/images/2017/new/icon_main_tab5.png) no-repeat center 18px;
}
.message1>li:nth-child(1) a.on b {
  background:url(/images/2017/new/icon_main_tab1_on.png) no-repeat center 18px;
}
.message1>li:nth-child(2) a.on b {
  background:url(/images/2017/new/icon_main_tab2_on.png) no-repeat center 18px;
}
.message1>li:nth-child(3) a.on b {
  background:url(/images/2017/new/icon_main_tab3_on.png) no-repeat center 18px;
}
.message1>li:nth-child(4) a.on b {
  background:url(/images/2017/new/icon_main_tab4_on.png) no-repeat center 18px;
}
.message1>li:nth-child(5) a.on b {
  background:url(/images/2017/new/icon_main_tab5_on.png) no-repeat center 18px;
}
.message_tp_rt a {
  font-size:13px;
  color:#4e4943;
}
.message_tp_rt a strong {
  color:#f05a22;
  vertical-align:1px;
  font-size:13px;
}
#foot_bor {
  margin-top:57px;
}
.con_rt_2 .txt_custom {
  position:absolute;
  right:0;
  bottom:4px;
  height:131px;
  width:100%;
  box-sizing:border-box;
  border:1px solid #e7e7e7;
  /* background:#fffaec url(/images/2017/new/icon_tel.png);   no-repeat 17px */
  background:#fffaec url(/images/2017/new/icon_tel.png);
  padding:16px 0 0 86px;
  text-indent: -9999px;
}
.con_rt_2 .txt_custom .tit {
  font-size:16px;
  color:#000;
}
.con_rt_2 .txt_custom .txt1 {
  font-size:30px;
  color:#f7b40a;
  font-weight:600;
  letter-spacing:-1px;
  padding:0 0 2px;
}
.con_rt_2 .txt_custom .txt2 {
  font-size:12px;
  color:#626262;
  line-height:21px;
}
.con_rt_2 .txt_custom .txt3 {
  font-size:12px;
  color:#f7b40a;
}
.message1_2>li {
  border:0;
}
.message1_2>li a {
  padding:0 17px;
  width:auto;
  border-right:1px solid #d9d9d9;
}
.message_bm_2 {
  background:#fff;
  border:1px solid #d9d9d9;
  height:44px;
}
.message1_2>li>a {
  height:44px;
  line-height:44px;
  background-color:#f6f6f6;
  color:#918e8b;
}
.sub_tab3_2 td {
  text-align:left;
}
.message1_2>li>a.on {
  color:#4e4943;
  background-color:#fff;
   height:45px;
}
.message1_2 .message_tp_rt {
  float:right;
  position:absolute;
  right:11px;
  top:-39px;
}
.message1_2 .message_child_menu_2 {
  width:100%;
  border:1px solid #d9d9d9;
  border-top:0;
  right:-1px;
}
.message1_2 .message_child_menu_2 a {
  text-align:left;
  display:inline-block;
  border:1;
  border-right:0;
  padding:0;
  padding-left:9px;
  background-color:#fff;
  background:url(/images/2017/new/dot_notice.png) no-repeat 0 center;
  letter-spacing:-1px;
  font-size:14px;
  color:#4e4943;
}
.message1_2 .message_child_menu_2 td {
  font-size:13px;
  padding:7px 3px;
   letter-spacing:-1px;
}
.message1_2 .message_child_menu_2 .ntbd {
  padding:17px 5px 19px;
}
.wrap_menu_tail {
  background:#f6f6f6;
}
.wrap_menu_tail .inner {
  position:relative;
  width:1105px;
  margin:0 auto;
  height:46px;
  line-height:46px;
}
.wrap_menu_tail .inner .foot_rt {
  position:absolute;
  right:0;
  top:-2px;
  padding-top:0;
}
#foot_bor {
  border-top:0;
}
.wrap_menu_tail .menu_tail li {
  display:inline-block;
  padding-left:28px;
  background:url(/images/2017/new/bar_tail.png) no-repeat 12px center;
}
.wrap_menu_tail .menu_tail li:first-child {
  padding:0;
  background:none;
}
.wrap_menu_tail .menu_tail a {
  font-size:13px;
  color:#5f5a52;
}
#foot {
  position:relative;
  overflow:hidden;
  padding:35px 0;
}
#foot .icon {
  position:absolute;
  right:5px;
  top:36px;
}
#foot .foot_lf {
  position:absolute;
  left:5px;
  top:36px;
  margin-right:0;
  padding-top:0;
}
#foot .txt {
  padding:0 0 0 197px;
  font-size:14px;
  color:#5f5a52;
  line-height:25px;
}
.mar_tp13 {
  margin-top:13px;
}
.hearinp {
  float:left;
  margin-left:100px;
  margin-top:21px;
}
.message1_2 .message_tp_rt a {
  padding:0;
  background:none;
  font-size:20px;
  color:#f05a22;
  font-weight:600;
  width: 17px;
  height: 17px;
}
.sub_lf_menu2>li>a.on {
  background:url(/images/2017/new/sub_14.png) no-repeat 20px center;
  color:#f05a22;
  font-weight:bold;
  text-decoration: underline;
}
.sub_lf_menu>li>a.on {
  color:#f05a22;
  text-decoration:underline;
}
.con_lf_big_title {
  background:url(/images/2017/new/bg_sub_tit.png) no-repeat center center;
  background-size:cover;
}
.method_bg_25869b {
  background-color:#4e4943;
  letter-spacing:-1px;
}
.sub_con_h2 {
  background:url(/images/2017/new/sub_08.png) no-repeat left 3px;
  color:#f05a22;
}
.wrap_menu_tail .inner .foot_rt select {
  font-size:12px;
  color:#5f5a52;
  height:22px;
  line-height:22px;
  padding:1px 7px !important;
  width:154px !important;
}
.bg_2e75b6 {
  background:url(/images/2017/new/tit_search_list.png) repeat-x left 0;
}
.sub_tab1 td b {
  color:#ff5700;
  font-weight:300;
}
.btn_list_search {
  display:inline-block;
  color:#fff !important;
  letter-spacing:-1px;
  padding:0 10px 0 39px;
  line-height:25px;
  font-size:13px;
}
.btn_list_search:hover {
  color:#fff !important;
}
.btn_list_search.btn01 {
  background:#ff7707 url(/images/2017/new/icon_search_list_1.png) no-repeat 0 center;
  font-size:14px;
}
.btn_list_search.btn02 {
  background:#ff5b5d url(/images/2017/new/icon_search_list_2.png) no-repeat 0 center;
}
.btn_list_search.btn03 {
  background:#95c000 url(/images/2017/new/icon_search_list_3.png) no-repeat 0 center;
  width:124px;
}
.bzhlag {
  width:20px;
  height:20px;
  background:white;
  display:inline-block;
  text-align:center;
  line-height:20px;
  margin-left:3px;
  border-radius:2px;
  position:relative;
  padding:2px 1px 0;
  margin-left:10px;
}
.bg_2e75b6 h2 {
  font-size:16px;
}
.bzhlag .bzhlag22 strong {
  color:#ff7707;
}
.bzhlag .bzhlag22 {
  display:none;
  position:absolute;
  top:30px;
  left:-14px;
  width:170px;
  height:auto;
  background:white;
  color:#545454;
  border-radius:4px;
  border:0;
  padding:9px;
  text-align:left;
  font-size:11px;
  line-height:16px;
  letter-spacing:-1px;
  z-index:999;
}
.bzhlag .bzhlag22:after {
  content:'';
  width:11px;
  height:7px;
  background:url(/images/2017/new/arrow_ball.png) no-repeat 0 center;
  position:absolute;
  left:20px;
  top:-7px;
  display:block;
}
.subcetcol {
  height:37px;
  border:2px solid #dddcdc;
  background:#f8f8f8;
  margin-top:6px;
  margin-bottom:21px;
}
.message_child_menu {
  width:756px;
  right:auto;
  left:0;
}
.message_bm {
  width:759px;
  background:#fff;
}
.message1>li>a {
  width:150px;
}
#contents {
  position:relative;
}
#quick_n {
  position:absolute;
  width:188px;
  margin:0px 0px 0px 50px;
  top:183px;
  /* right:146px; */
  /* left : 1550px; */
  padding:0px;
  border:1px solid #dddddd;
  background:#fff;
}
#quick_n .tit {
  background:url(/images/2017/new/bg_quick.png) repeat-x 0 center;
  line-height:40px;
}
#quick_n .tit {
  color:#f05a22;
  font-size:15px;
  text-align:center;
}
#quick_n .inner {
  padding:0 11px;
}
#quick_n .inner li {
  line-height:37px;
  border-bottom:1px solid #ebebeb;
  overflow:hidden;
}
#quick_n .inner li:last-child {
  border-bottom:0
}
#quick_n .inner li * {
  color:#545454;
  font-size:13px;
  /*font-weight:600px;*/
}
#quick_n .inner li strong {
  display:inline-block;
}
#quick_n .inner li a .num {
  color:#f05a22;
  padding:0 4px;
}

#quick_n .inner li .num {
  color:#f05a22;
  padding:0 4px;
}

#quick_n .inner li .lank {
  padding:0 5px 0 11px;
  float:right;
}
#quick_n .inner li .lank.up {
  background:url(/images/2017/new/icon_quick_up.png) no-repeat 0 center;
}
#quick_n .inner li .lank.down {
  background:url(/images/2017/new/icon_quick_down.png) no-repeat 0 center;
}
#quick_n .inner li .new {
  padding:0 5px 0 11px;
  float:right;
  color:#ff0000;
}
.list_thumb span {
  vertical-align:top;
}
.list_thumb {
  margin:0px 0 18px;
}
.list_thumb .subject {
  margin:0 0 10px;
  font-size:13px;
}
.list_thumb .thumb {
  width:137px;
  background:#e7e7e7;
  line-height:157px;
  position:absolute;
  color:#8a8989;
  font-weight:600;
  text-align:center;
  font-size:14px;
  padding:0;
  position:relative;
  cursor:pointer;
}
.list_thumb .thumb img {
  width:100%;
}
.pop_thumb {
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index:99999;
  background:rgba(0,0,0,0.55);
}
.pop_thumb .inner {
  background:#fff;
  width:687px;
  height:481px;
  border:1px solid #000;
  margin:10% auto;
}
.pop_thumb .inner .tit {
  background:#4e4943;
  padding:0 18px;
  color:#fff;
  font-size:15px;
  line-height:45px;
  position:relative;
  height:45px;
}
.pop_thumb .inner .tit .btn_close {
  position:absolute;
  right:17px;
  top:15px;
}
.pop_thumb .inner .cont {
  padding:23px 20px;
  overflow:hidden;
}
.pop_thumb .inner .cont .img {
  width:310px;
  float:left;
}
.pop_thumb .inner .cont .img img {
  width:270px;
  /*width:100%;*/
}
.pop_thumb .inner .cont .ment {
  margin-left:36px;
  float:left;
  width:301px;
}
.pop_thumb .inner .cont .ment .subject {
  padding:8px 5px 15px;
  border-bottom:1px solid #e8e8e8;
  font-size:16px;
  font-weight:600;
}
.pop_thumb .inner .cont .ment li {
  background:url(https://www.findcopyright.or.kr/images/2012/common/dot2.gif) no-repeat 0 9px;
  padding:0px 0px 5px 10px;
  line-height:20px;
  color:#545454;
  font-size:14px;
}
.pop_thumb .inner .cont .ment ul {
  padding:22px 15px 0 9px;
}
.message1 .sub_tab3 td:nth-child(2) {
  text-align:left;
  margin-left: 10px;
}