@charset "euc-kr"; 

.mainContainer{ background: url(/images/main/main_container.gif) repeat-y 326px 0 !important;}
.mainContainer_vis{ position:relative; background: url(/images/main/vis_bg.png) repeat-x 0 100%;padding-bottom: 6px;}

#main_content{ margin-top: 20px; *zoom: 1;}
#main_content:after{ content: ""; display: block; clear: both;}
.main_usr, .main_guide, .main_right, .main_link_left, .main_link_right{ float: left; width: 304px; margin: 0 11px;}
.main_guide, .main_link_center{ float: left; width: 306px; margin: 0 11px;}

#main_content h2{ margin-bottom: 10px; position: relative;}
#main_content .img_link, .undivided{ margin-top: 23px;}
#main_content .ml4{ margin-left: 4px; _display: inline;}
.undivided{ height: 104px;}
.undivided .amount{ margin-top: 10px; vertical-align: middle; font-weight: bold; text-align: right;}
.undivided .amount span{ display: inline-block; background: url(/images/main/undivided_amount.gif) no-repeat 100% 100%; color: #fff; line-height: 1.8;}
.undivided .amount span strong{ display: inline-block; letter-spacing: 15px; *letter-spacing: 17px; margin: 0 6px; *margin: 0 12px;}
.undivided .amount span strong.last{ margin-right: -3px; *margin-right: 8px;}
.undivided .amount span strong.first{ margin-left: 9px; *margin-left: 8px;}
.undivided .amount_guide{ margin-top: 12px; background: url(/images/main/amount_guide.gif) repeat-x 0 0; padding: 10px 10px 0;}
.undivided .amount_guide .view_btn{ clear: both; display: inline-block; margin-top: 3px; *margin-top: -1px;}

.main_board{ margin-top: 40px; position: relative; height: 134px; *zoom: 1;}
.main_board:after{ content: ""; display: block; clear: both;}
.main_board li{ float: left; position: relative; margin-right: 1px; height: 134px;}
.main_board li table{ position: absolute; top: 23px; left: 0; width: 304px; height: 111px; margin:0; empty-cells:show; border-collapse:collapse; border-style:none; border-width:0;}
.main_board li table thead th, .main_board li table thead td, .main_board li table tbody th, .main_board li table tbody td, .main_board li table tfoot th{border-style:none; border:0; border-width:0; empty-cells:show;  font-size:11px;}
.main_board li table thead th{ border-top: 1px solid #cdcdcd; border-bottom: 1px solid #cdcdcd; background:#fff url(/images/common/division1.gif) no-repeat 0 45%;}
.main_board li table tbody td.lft{ padding: 0 10px; color: #444;}

.popup_zone{ margin-top: 27px; position: absolute; width: 304px; height: 107px;}
.popup_zone h2{ margin: 5px 0 !important;}
.popup_zone .control{ position: absolute; right: 0; top: 0; width: 56px; z-index: 999;}
.popup_zone ul{ position: absolute; right:0; top: 0; width: 304px; height: 107px;}
.popup_zone ul li{float: left;}
.popup_zone ul li .btn{ position: absolute; top: 2px; display: inline-block; background: url(/images/main/pop_btn_off.gif) no-repeat; 50% 50%; width: 11px; height: 11px;  text-indent: -1000000px; overflow: hidden;}
.popup_zone ul li .btn:hover{ background: url(/images/main/pop_btn_on.gif) no-repeat; 50% 50%;}
.popup_zone ul li.m1 .btn{ right: 95px;}
.popup_zone ul li.m2 .btn{ right: 84px;}
.popup_zone ul li.m3 .btn{ right: 73px;}
.popup_zone ul li.m4 .btn{ right: 62px;}
.popup_zone ul li p{ position: absolute; top: 21px; left: 0; width: 304px; height: 86px;}
.popup_zone ul li p img{ border: 1px solid #dfdfdf;}

.main_link{ padding-bottom: 34px;}
.main_link_left, .main_link_center, .main_link_right{ margin-top: 30px; background: url(/images/main/gray_box.gif) no-repeat 0 0; padding-top: 10px;}
.main_link_left div, .main_link_center div, .main_link_right div{ background: url(/images/main/gray_box.gif) no-repeat 0 100%; padding: 0 10px 10px;}
.ml35{ margin-left: 35px;}
.main_link ul{ width: 69%; *zoom: 1;}
.main_link ul:after{ content: ""; display: block; clear: both;}
.main_link ul li{ float: left; width: 49%;}
.main_link ul li a{ display: block; *display: inline-block; padding: 5px 0 3px;}

