@charset "utf-8";


* {font-family:"맑은고딕", Malgun Gothic, Dotum, Verdana, sans-serif;font-size:12px;margin:0;padding:0;color:#474747;}
ul{list-style:none;}
img{border:0;vertical-align:top;}
select {font-size:12px;}
fieldset {border:0;margin:0px;padding:0px;}
a { color:#474747;text-decoration:none;} a:hover {
	color:#474747;
	text-decoration:underline;
	font-family: "맑은고딕", Malgun Gothic, Dotum, Verdana, sans-serif;
}
body {margin: 0 0;}
.png {_filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}

/* -------------------------------------------- Log-in ------------------------------------------- */
#login_Wrap {width:100%; margin:auto;}
#login_logo{width:674px; height:50px; margin:auto; position:relative; top:160px;}
.top_btn_left{position:absolute; width:188px; height:38px; padding-left:10px;}
.top_btn_right{position:absolute; width:188px; height:38px; left:476px; top:16px; }
.login_bg{width:674px; height:299px; margin:auto; position:relative; top:160px; background:url(../images/login_bg.gif) no-repeat;}
#login_bg01{width:674px; height:299px; margin:auto; position:relative; top:160px; background:url(../images/login_bg01.gif) no-repeat;}
#login_bg02{width:674px; height:299px; margin:auto; position:relative; top:160px; background:url(../images/login_bg02.gif) no-repeat;}

.Tab_Menu {position:relative; margin:10px 10px; top:70px; left:260px; width:385px; height:29px;  vertical-align:bottom; border-bottom:1px solid #d7d7d7;}
.Tab_Menu ul.Tab_Menu_list li {float:left; width:120px; height:24px; display:inline-block; line-height:25px; background-image:url(../images/tab_bg_nor_120.gif); vertical-align:bottom; text-align:center; font-size:12px; font-family: "돋움", Dotum, arial; color:#636363; font-weight:bold; margin-right:1px;}
.Tab_Menu ul.Tab_Menu_list .sele {float:left; width:120px; height:29px; display:inline-block; line-height:30px; background-image:url(../images/tab_bg_sel_120.gif); vertical-align:bottom; font-size:13px; font-family: "돋움", Dotum, arial; color:#ffffff; font-weight:bold; margin-right:1px;}
.Tab_Menu ul.Tab_Menu_list li a {color:#636363; text-decoration:none;}
.Tab_Menu ul.Tab_Menu_list li a:hover {color:#325b99; text-decoration:underline;}
.Tab_Menu ul.Tab_Menu_list li.now {color:#009fdf; font-weight:bold;}
.Tab_Menu ul.Tab_Menu_list li.pdn {padding:0 0 0 0;}


.login_box{position:relative; top:70px; left:250px; width:405px; height:auto; float:left; padding:0 10px 0 10px;}
.login_box h1{height:35px; text-align:center; line-height:30px; font-family:"맑은고딕", Malgun Gothic, Dotum, Verdana,; font-size:13px; color:#4a4f55;}
.login_box dl{position:relative; width:248px;}
.login_box dd{position:relative; float:right; margin-left:3px;}
.login_box_btn{ float:right; display:inline; position:absolute; top:35px; right:10px;}
.login_text { font-family:"맑은고딕", Malgun Gothic, Dotum, Verdana; font-size:14px; line-height:24px;}

.idlogin_box{position:relative; top:15px; left:248px; width:405px; height:auto; float:left; padding:0 10px 0 0; text-align:right;}
.cert_box{position:relative; top:60px; left:250px; width:405px; height:auto; float:left; padding:0 10px 0 10px; text-align:center;}
.cert_box h1{height:35px; text-align:center; line-height:30px; font-family:"맑은고딕", Malgun Gothic, Dotum, Verdana,; font-size:13px; color:#4a4f55;}
.cert_box dd{position:relative; display:inline; margin:0 5px;}
.cert_text { font-family:Arial, Helvetica, sans-serif; font-size:14px;}

.reg_box{position:relative; top:70px; left:250px; width:405px; height:auto; float:left; padding:0 10px 0 10px;}
.reg_box h1{height:35px; text-align:center; line-height:30px; font-family:"맑은고딕", Malgun Gothic, Dotum, Verdana,; font-size:13px; color:#4a4f55;}
.reg_box dl{position:relative; border:3px solid #dadcdf; width:220px; height:50px; padding:10px 10px; margin-left:78px; background-color:#fcfcfc;}
.reg_box dd{position:relative; float:right; margin-left:7px; width:200px; text-align:right;}
.reg_box_btn{position:relative; top:90px; left:248px; width:405px; height:auto; float:left; padding:0 10px 0 10px; text-align:center;}
.reg_text { font-family:"맑은고딕", Malgun Gothic, Dotum, Verdana; font-size:14px; line-height:24px; font-weight:bold;}

.install_box{position:relative; top:52px; left:248px; width:405px; height:auto; float:left; padding:0 10px 0 10px; line-height:18px;}
.install_box h1{padding:10px 0;}
.install_box dd{position:relative; display:inline; margin:0 5px;}

.itf{width:150px; height:25px; margin:5px 5px 5px 5px; padding-top:3px; padding-left:5px; border:1px solid #cdcdcd;background:#fff;font-weight:bold; font-size:14px}
.isb{margin:5px 5px 5px 5px;}

/* -------------------------------------------- Log-in ------------------------------------------- */


/* -------------------------------------------- Footer AREA ------------------------------------------- */
.footer_copy{width:674px; height:30px; top:180px; margin:auto; position:relative; text-align:center; font-family:"맑은고딕", Malgun Gothic, Dotum, Verdana; font-size:11px; color:#6a6c6e; line-height:18px;}
/* -------------------------------------------- Footer AREA ------------------------------------------- */
