<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
<body style="margin:0; padding: 0; font-size:0.75em; border-width:1pt; " onBlur="window.focus()">
<div title="저작권찾기 중지 안내" style="background: url(/images/2010/common/popBg.jpg) no-repeat 100% 0;margin: 0; width:580px; position: relative; "> <!-- border-color:#C0C5C9;border-style:outset; -->
<h1 style="position: absolute; top: 40px; *top: 50px; left: 20px; font-size: 20px; color: #000; letter-spacing: -1px; font-family:Dotum, Tahoma, Geneva, sans-serif;" >‘저작권찾기 사이트’ <span style="font-size: 14px; color: #717171;">시범운영 안내</span></h1>

	<div style="margin:0; margin-top: 3px; color: #333; font-size:100%; word-wrap: break-word; padding: 180px 0px 0px 0px; ">		<p style="line-height: 1.5; background: #ffffff;">
			<em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; '내 권리 찾기 사이트'가 '저작권 찾기 사이트'로 확대 개편되어 시범운영 중에 있습니다.</em><br>	       <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 시범운영 기간 동안 사이트와 관련한 오류사항, 불편함 점, 개선사항 등을 파악하여</em><br>		   <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 이용자가 보다 편리하게 이용할 수 있는 사이트로 개선하고자 합니다.</em><br>
		   <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 게시판의 Q&amp;A에 여러분의 소중한 의견을 부탁드립니다. </em><br><br>
		   
	       <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 전화 문의     : 02-2660-0128 (한국저작권위원회 유통진흥팀) </em><br>
	       <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 이메일 문의  : nurr6170@copyright.or.kr </em><br><br>
       </p>	</div>
	<div style="margin: 0; background: url(/images/2010/common/control_bg.gif) no-repeat right top; height:10px; color: #FFF; font-size: 95%; padding: 2px 5px 10px; text-align:right;">

		<p style="margin: 0; padding: 0;">

		<label for="date_close">오늘 하루 열지 않음</label><input type="checkbox" style="margin: 0;" name="first" onClick="javascript:onClose(this.checked);"> 

		<a style="color: #FFF; font-weight: bold; text-decoration: none;" href="#" onclick="javascript:closeMessage();">CLOSE</a>&nbsp; &nbsp;</p>

	</div>

<div>
</center>
</body>
