<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
<body style="margin:0; padding: 0; font-size:0.75em; border-width:1pt; " onBlur="window.focus()">
<div title="시스템 중지 안내" style="background: url(/images/2010/common/popBg.jpg) no-repeat 100% 0;margin: 0; width:580px; position: relative; "> <!-- border-color:#C0C5C9;border-style:outset; -->
<h1 style="position: absolute; top: 40px; *top: 50px; left: 20px; font-size: 20px; color: #000; letter-spacing: -1px; font-family:Dotum, Tahoma, Geneva, sans-serif;" >‘전기설비 정기(법정) 검사’ <span style="font-size: 14px; color: #717171;">에 따른 시스템 중지 안내</span></h1>

	<div style="margin:0; margin-top: 3px; color: #333; font-size:100%; word-wrap: break-word; padding: 180px 0px 0px 0px; ">		<p style="line-height: 1.5; background: #ffffff;">
			<em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 전기설비 정기(법정) 검사에 따라 시스템이 중지될 예정입니다.</em><br>	       
			<em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 불편을 드려서 죄송합니다.</em><br><br><br>
		   
	       <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 정전일시   : 2014.03.29(토) 09:00 ~ 12:00 </em><br>
	       <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 정전사유   : 전기설비 정기(법정)검사 [1회/3년] </em><br>
	       <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 시스템 기동 중지 기간  : 2014.03.28(금) 18:30 ~ 2014.03.29(토) 15:00 </em><br><br>
       </p>	</div>
	<div style="margin: 0; background: url(/images/2010/common/control_bg.gif) no-repeat right top; height:10px; color: #FFF; font-size: 95%; padding: 2px 5px 10px; text-align:right;">

		<p style="margin: 0; padding: 0;">

		<!--label for="date_close">오늘 하루 열지 않음</label><input type="checkbox" style="margin: 0;" name="first" onClick="javascript:onClose(this.checked);"--> 

		<a style="color: #FFF; font-weight: bold; text-decoration: none;" href="#" onclick="javascript:self.close();">CLOSE</a>&nbsp; &nbsp;</p>

	</div>

<div>
</center>
</body>
