<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
<script language="javascript">
function setCookie( name, value, expiredays ) { 
    var todayDate = new Date(); 
    todayDate.setDate( todayDate.getDate() + expiredays ); 
    document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
    
} 

function getCookie(name) {
    var dc = document.cookie;
    var prefix = name + "=";
    var begin = dc.indexOf("; " + prefix);
    if (begin == -1) {
        begin = dc.indexOf(prefix);
        if (begin != 0) 
            return null;
    } else {
        begin += 2;
    }

    var end = document.cookie.indexOf(";", begin);
    if (end == -1)
        end = dc.length;
    return unescape(dc.substring(begin + prefix.length, end));
}

function onClose() {
	if(document.event.first.checked == true) {
		cookie.setDomain(".kdce.or.kr");

		setCookie("pop2", "yes", 1);
	}
	window.close();
}

//-->
</script>
<body style="margin:0; padding: 0; font-size:0.75em; " onBlur="window.focus()">

<div title="사이트 일시중지 안내" style="background: url(/images/2010/common/popBg4.jpg) no-repeat 100% -5px;margin: 0; width:480px; position: relative; border: 4px solid #286098; border-bottom: 0; "> <!-- #286098 border-color:#C0C5C9;border-style:outset; -->
<h1 style="position: absolute; top: 40px; *top: 50px; left: 20px; font-size: 16px; color: #000; letter-spacing: -1px; font-family:Dotum, Tahoma, Geneva, sans-serif;" >‘디지털저작권거래소’ <span style="font-size: 20px; font-weight: bold; color: #717171;"><strong>일시중지 안내</strong></span></h1>

	<div style="margin:0; margin-top: 3px; color: #333; font-size:100%; word-wrap: break-word; padding: 180px 0px 0px 0px;">
		<p style="line-height: 1.3; background: #ffffff;">
	     <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 서비스에 불편을 드려서 죄송합니다.</em><br>
	     <br>
		   
		    <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 6월 13일 오후 6시 이후 약 10초간 전산실 네트워크작업으로 인해</em><br>
	     <br>
		   <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 네트워크 접속 등 장애가 우려됩니다.</em><br>
		   <br>
		   <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 이에 불편을 드려서 죄송합니다.</em><br>
		   <br>
		   <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 정상화는 오후 6시 30분 이후부터는 정상업무가 가능 할 것으로 판단됩니다.</em><br>
		   <br>
		   <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 다시 한번 고객님들에게 불편을 드려 죄송합니다.</em><br>
		   <br>
		   <br>
		   <!--
	       <em style="color: #717171; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; * 중지 일시     : 2011. 11. 30(수) 18:00 부터 22:00 까지</em><br>
       	   <br><br>
       -->
       </p>
	</div>
<div>
</center>
</body>

