<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">

<body style="margin:0; padding: 0; font-size:0.75em; " onBlur="window.focus()">
<div title="저작권찾기 일시중지 안내" style="background: url(/images/2010/common/popBg4.jpg) no-repeat 100% -5px;margin: 0; width:480px; position: relative; border: 4px solid #286098; border-bottom: 0; "> <!-- #286098 border-color:#C0C5C9;border-style:outset; -->
<h1 style="position: absolute; top: 40px; *top: 50px; left: 20px; font-size: 16px; color: #000; letter-spacing: -1px; font-family:Dotum, Tahoma, Geneva, sans-serif;" >‘저작권찾기 사이트’ <span style="font-size: 20px; font-weight: bold; color: #717171;"><strong>일시중지 안내</strong></span></h1>

	<div style="margin:0; margin-top: 3px; color: #333; font-size:100%; word-wrap: break-word; padding: 180px 0px 0px 0px;">		<p style="line-height: 1.3; background: #ffffff;">	       <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 보다 안정적인 서비스를 위한 시스템 점검으로 인해 </em><br>		   <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 사이트가 일시 중지됨을 알려드리오니 이용에 착오 없으시기 바랍니다.</em><br>
		   <br>
		   <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 보다 편리하고 안정적인 시스템이 되도록 하겠습니다.</em><br>
		   <br>
		   <br>
	       <em style="color: #717171; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; * 중지 일시     : 2011. 04. 15(금) 18:00 부터  04. 17(일) 24:00 까지</em><br>
       	   <br><br>
       </p>	</div>	
	<div class="control" style="margin: 0; background: #286098; color: #FFF; font-size: 95%; padding: 5px 5px 10px; text-align:right; *position: relative; top: 0px;" >
		<p class="btn" style="margin: 0; padding: 0;"><label for="date_close">오늘 하루 열지 않음</label><input type="checkbox" name="first" id="first">&nbsp; <a style="color: #FFF; font-weight: bold; text-decoration: none;" href="#" onclick="javascript:closeMessage();">CLOSE</a>&nbsp; &nbsp;</p>
	</div>

<div>
</center>
</body>
