<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">

<body style="margin:0; padding: 0; font-size:0.75em; " onBlur="window.focus()">
<div title="저작권찾기 중지 안내" style="background: url(/images/2010/common/popBg4.jpg) no-repeat 100% -5px;margin: 0; width:580px; position: relative; border: 4px solid #286098; border-bottom: 0; "> <!-- #286098 border-color:#C0C5C9;border-style:outset; -->
<h1 style="position: absolute; top: 40px; *top: 50px; left: 20px; font-size: 16px; color: #000; letter-spacing: -1px; font-family:Dotum, Tahoma, Geneva, sans-serif;" >‘저작권찾기 사이트’ <span style="font-size: 20px; font-weight: bold; color: #717171;"><strong>시범운영 안내</strong></span></h1>

	<div style="margin:0; margin-top: 3px; color: #333; font-size:100%; word-wrap: break-word; padding: 180px 0px 0px 0px;">		<p style="line-height: 1.3; background: #ffffff;">
		   <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; '내 권리 찾기 사이트'가 '저작권 찾기 
		   사이트'로 확대 개편되어 현재 시범운영 중에 있습니다.  </em><br>	       <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 이용자에게 보다 편리하고 안정적인 서비스를 위해 </em><br>		   <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 시범운영 기간 동안 사이트와 관련한 <strong style="color:#DD7104">오류사항, 불편한 점 및 개선사항 등의 의견</strong>을 받고 있습니다.</em><br>
		   <em style="color: #006184; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 여러분의 소중한 의견을 부탁드립니다.</em><br><br>
		   
		   <em style="color: #DD7104; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 아래 이메일 주소로 의견을 보내주시는 분 중 선착순 100분께는</em><br>
		   <em style="color: #DD7104; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 2011년 시스템 다이어리를 선물로 보내드립니다.</em><br>
		   <em style="color: #585353; font-style: normal; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; * 단순제안 배제(예시:디자인이 마음에 안들어요..., 사용하기 어려워요 등)</em><br><br>
		   
	       <em style="color: #717171; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 전화 문의     : 02-2660-0128 (한국저작권위원회 유통진흥팀) </em><br>
	       <em style="color: #717171; font-style: normal; font-weight: bold; letter-spacing: -0.05em;  line-height:2;">&nbsp; &nbsp; 이메일 문의  : nurr6170@copyright.or.kr </em><br><br>
       </p>	</div>	
	<div class="control" style="margin: 0; background: #286098; color: #FFF; font-size: 95%; padding: 5px 5px 10px; text-align:right; *position: relative; top: 0px;" >
		<p class="btn" style="margin: 0; padding: 0;"><label for="date_close">오늘 하루 열지 않음</label><input type="checkbox" name="first" onClick="javascript:onClose(this.checked);">&nbsp; <a style="color: #FFF; font-weight: bold; text-decoration: none;" href="#" onclick="javascript:closeMessage();">CLOSE</a>&nbsp; &nbsp;</p>
	</div>

<div>
</center>
</body>
