<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">

<body style="margin:0; padding: 0; font-size:0.75em; " onBlur="window.focus()">	
	<div title="저작권찾기 이벤트 안내" style="margin: 0; width:700px; position: relative; border: 4px solid #286098; border-bottom: 0; "> <!-- #286098 border-color:#C0C5C9;border-style:outset; -->
		<img src="/common/popUp/images/pop_20110315.jpg" width="700" height="476" border="0" usemap="#Map">	
			<map name="Map" id="Map">		
			<area shape="rect" coords="511,115,665,164" href="/event/renewal.do" target="">		
		<area shape="rect" coords="450,378,604,427" href="/event/renewal.do" target="">
		</map>
	</div>		
	<div class="control" style="margin: 0; background: #286098; color: #FFF; font-size: 95%; padding: 5px 5px 10px; text-align:right; width:698px; *position: relative; top: 0px;" >
			<p class="btn" style="margin: 0; padding: 0;"><label for="date_close">오늘 하루 열지 않음</label><input type="checkbox" name="first" id="first">&nbsp; <a style="color: #FFF; font-weight: bold; text-decoration: none;" href="#" onclick="javascript:closeMessage();">CLOSE</a>&nbsp; &nbsp;</p>
	</div>
</body>
