<body onBlur="window.focus()">
	
	<table style="padding:5 10 5 10; cursor:pointer;" width="250" border="2" cellspacing="0" cellpadding="0" bgcolor="#FAFAFA" onclick="javascript:closeMessage();">
	<tr>
		<td style="padding:10 10 10 10;"><b>¤ 발매일 입력안내</b></td>
	</tr>
	<tr>
		<td style="padding:0 10 0 10;">
		<label class="fontSmall" style="line-height: 1.5; letter-spacing:0.8px; word-spacing: 1px;">1) yyyymmdd형식으로 입력한다. 
		                                                                                                                              <br/>&nbsp; &nbsp;년도만 입력하는 경우 월일은 '0101'으로 
		                                                                                                                              <br/>&nbsp; &nbsp;자동 입력됨
		</td>
	</tr>
	<tr>
		<td height="30" align="right" style="padding:0 10 0 0;">
			<label class="fontSmall"><a href="javascript:closeMessage();"><b>[닫기]</b></a></label>
		</td>
	</tr>
	</table>
	</div>
</body>
