<body onBlur="window.focus()">
	
	<table style="padding:5 10 5 10; cursor:pointer;" width="350" border="2" cellspacing="0" cellpadding="0" bgcolor="#FAFAFA" onclick="javascript:closeMessage();">
	<tr>
		<td style="padding:10 10 10 10;"><b>¤ 권리자 미확인이란?</b></td>
	</tr>
	<tr>
		<td style="padding:0 10 0 10;">
		<label class="fontSmall">1) 저작자 정보가 없는경우</label>
		<br/><label class="fontSmall">2) 저작자 정보는 있지만 저작권자 정보를 확인할 수 없는 경우</label>
		<br/><label class="fontSmall">3) 공동 저작자의 경우 위항목(1,2)을 일부 포함하는 경우</label>
		<!-- 4) 저작자 정보가 '미확인'인 경우 -->

		</td>
	</tr>
	<tr>
		<td height="30" align="right" style="padding:0 10 0 0;">
			<label class="fontSmall"><a href="javascript:closeMessage();"><b>[닫기]</b></a></label>
		</td>
	</tr>
	</table>
	</div>
</body>
