<body onBlur="window.focus()">
	
	<table style="padding:5 10 5 10; cursor:pointer;" width="450" border="2" cellspacing="0" cellpadding="0" bgcolor="#FAFAFA" onclick="javascript:closeMessage();">
	<tr>
		<td style="padding:10 10 10 10;"><b>¤ 음반명 입력안내</b></td>
	</tr>
	<tr>
		<td style="padding:0 10 0 10;">
		<label class="fontSmall" style="line-height: 1.5; letter-spacing:0.8px; word-spacing: 1px;">1) 클래식의 경우 [ 작곡가 : 작품명 / 연주자 ]의 형식으로 입력한다.</label>
		<br/><label class="fontSmall" style="line-height: 1.5; letter-spacing:0.8px; word-spacing: 1px;">2) 국내/팝음반의 경우, [ 타이틀(*집) ]의 형식으로 입력한다.</label>
		<br/><label class="fontSmall" style="line-height: 1.5; letter-spacing:0.8px; word-spacing: 1px;">3) 스파인에 적혀있는 타이틀(레이블과 레이블 번호를 제외한 모든내용)을 특수 기호
		  																																	       &nbsp; &nbsp; ("",/ 등)는 제외하고 그대로 적는 것을 원칙으로 한다.</label>
		
		<br/><label class="fontSmall" style="line-height: 1.5; letter-spacing:0.8px; word-spacing: 1px;">4) 단, 의미가 있는 특수기호와 구분(쉼표, 등)을 위한 특수기호는 사용할 수 있다. 
		  																																	      &nbsp;  &nbsp; &nbsp; 예) # -"삽"의 경우</label>
		<br/><label class="fontSmall" style="line-height: 1.5; letter-spacing:0.8px; word-spacing: 1px;">5) FIRST ALBUM이라고 표기되어 있는 경우, 1집이라고 표기한다.</label>
		<br/><label class="fontSmall" style="line-height: 1.5; letter-spacing:0.8px; word-spacing: 1px;">6) 로마자는 아라비아 숫자로 대치한다.</label>
		<br/><label class="fontSmall" style="line-height: 1.5; letter-spacing:0.8px; word-spacing: 1px;">7) 한글과 외국어 병기시에는 국내는 한글을, 팝은 외국어를 우선하여 표기한다.
		
		  																																	      &nbsp; &nbsp; &nbsp; &nbsp;외국어가 한자로 표기된 경우 한글로 변환가능한 경우 한글로 기입하고, 본래 
		  																																	      &nbsp; &nbsp; &nbsp; &nbsp;표기된 한자명은 부제명에 추가기입한다.</label>
		<br/><label class="fontSmall" style="line-height: 1.5; letter-spacing:0.8px; word-spacing: 1px;">8) 단, 음반명이 하나만(한글/외국어) 표기되어 있을 경우, 그 하나를 적고, 필요에 
		  																																	       &nbsp; &nbsp; &nbsp;따라(검색어 사용 가능성) 다른 언어를 병기한다.</label>
		<br/><label class="fontSmall" style="line-height: 1.5; letter-spacing:0.8px; word-spacing: 1px;">9) 국내 음반명의 경우, 영어로만 표기되어 있을 경우 발음에 따라(해설지에 
		  																																	      <br/>&nbsp; &nbsp;적힌대로) 한글로 병기한다. 표기형식은 [영문명(한글명/ ○집)으로 한다. 
		  																																	      
		  																																	       <br/>&nbsp; &nbsp;예) BOMBOM(봄봄/ 3집)]</label>
		<br/><label class="fontSmall" style="line-height: 1.5; letter-spacing:0.8px; word-spacing: 1px;">10) [시리즈]에 해당하는 경우, 부제명에 시리즈명을 입력한다.</label>
		</td>
	</tr>
	<tr>
		<td height="30" align="right" style="padding:0 10 0 0;">
			<label class="fontSmall"><a href="javascript:closeMessage();"><b>[닫기]</b></a></label>
		</td>
	</tr>
	</table>
	</div>
</body>
