<body onBlur="window.focus()">
	
	<table style="padding:5 10 5 10; cursor:pointer;" width="400" border="2" cellspacing="0" cellpadding="0" bgcolor="#FAFAFA" onclick="javascript:closeMessage();">
	<tr>
		<td style="padding:10 10 10 10;"><b>¤ 법정허락 저작물이란?</b></td>
	</tr>
	<tr>
		<td style="padding:0 10 0 10;">
		<label class="fontSmall" style="line-height: 1.5; letter-spacing:0.8px; word-spacing: 1px;">법정허락 저작물이란 저작물의 이용자가 상당한 노력을 기울였어도 공표된 저작물의 저작재산권자를 알지 못하거나 저작재산권자를 알더라도 그의 거소를 알 수 없어 저작물의 이용을 허락받을 수 없는 경우, 이를 문화체육관광부 장관에게 저작물의 이용승인을 얻은 후	문화체육관광부장관이 정하는 기준에 의한 보상금을 공탁하고 이를 이용하도록 허락하는 제도를 말합니다.</label>
		<br/>
		<br/><label class="fontSmall2" style="line-height: 1.5; letter-spacing:0.8px; word-spacing: 1px;"> ※ 저작재산권자 : 저작재산권이란 저작자가 저작물을 스스로 이용하거나 다른 사람이 이용할 수 있도록 허락함으로서 경제적 이익을 올릴 수 있는 재산권이며, 이러한 재산권을 행사하는 사람을 저작재산권자라고 말합니다.</label>
		<!-- 4) 저작자 정보가 '미확인'인 경우 -->
		</td>
	</tr>
	<tr>
		<td height="30" align="right" style="padding:0 10 0 0;">
			<label class="fontSmall"><a href="javascript:closeMessage();"><b>[닫기]</b></a></label>
		</td>
	</tr>
	</table>
	</div>
</body>
