@charset "euc-kr";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
.wrap_n *{font-family: 'Nanum Gothic';}
.wrap_n .schBoxGrid tbody th, .wrap_n .schDot1 {
    background: url(../images/2020/common/dot4.png) no-repeat 0 14px;
    padding: 4px 5px 5px 15px;
    text-align: left;
    color: #464749;
    border: 0;
    font-size: 11px !important;
    font-weight: bold !important;
}


.wrap_n select {min-width:90%;width:90%; height:25px; padding:0 22px 0 10px; line-height:25px; font-size:14px; border:1px solid #767676; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #fff url(../images/2020/common/icon_combo.png) 95% center no-repeat;    vertical-align: top;
display: inline-block;
color: #0d0d0d;
font-size:12px ;
}
.wrap_n .schBoxGrid tbody label {
    font-size: 12px;
    font-weight: 400;
	color: #545454;
}
.wrap_n select::-ms-expand {display: none;}
.wrap_n .boxStyle .btn_area {
    background: none;
    padding-left: 10px;
}
.wrap_n .boxStyle .box1, .wrap_n .box1 {
    background: #fafafa;
    border: 1px solid #dddddd;
    position: relative;
    bottom: 0px;
    padding: 32px 20px 12px;
}

.wrap_n table input[type=text], .wrap_n table input[type=password], .wrap_n .boxStyle input[type=text], .wrap_n .user_area input[type=text], .wrap_n .user_area input[type=password] {
	background: #fff;
    border: 1px solid #dddddd;
    height: 25px;
    font-size: 12px;
	padding: 0 10px;
    line-height: 25px
}
.wrap_n .schBoxGrid tbody th,.wrap_n .schBoxGrid tbody td{padding-bottom:19px ;}


.pl25{ padding-left: 25px !important;}
.pl30{ padding-left: 30px !important;}
.pl35{ padding-left: 35px !important;}
.pl40{ padding-left: 40px !important;}

.wrap_n .result_area .tab {
    height: 29px;
    background: none;
    padding-left: 0px;
}
.wrap_n .result_area .tab .tab2 {
    height: 29px;
    display: block;
    background: none;
    padding-right: 10px;
    margin-right: -5px;
    line-height: 2.5;
    font-size: 12px;
    color: #4e4944;
}
.wrap_n .result_area .tab .tab2 .orange{color: #ee5b2f !important}

.wrap_n .button.medium * {
    font-weight: 400;
}

.wrap_n .grid thead th, .wrap_n .grid tbody th.view_tl, .wrap_n .blue_box {
    background: #f3f3f3;
    border: 1px solid #dddddd;
    font-size: 14px;
    line-height: 28px;
    word-wrap: break-word;
    color: #4e4944;
	font-weight:600 ;
	border-top:2px solid #545454
}

.wrap_n .result_area {
    border-bottom: 0;
    margin-bottom: 8px;
}

.wrap_n .checks_com{width: 12px;height: 12px;display: inline-block;}
/* .wrap_n input[type="checkbox"] {display:none; } */
.wrap_n input[type="checkbox"] + label {
    height: 12px;
    padding-left: 19px;
    display: inline-block;
    position: relative;
    font-size: 12px;
    color: #000;
    line-height: 1;
    cursor: pointer;
    color: #6b6b6b;
}
.wrap_n input[type="checkbox"] + label:before {content:''; width:12px; height:12px; position:absolute; left:0px; top:0; display:inline-block; background:url(../images/2020/common/icon_check.png) 0 0 no-repeat; }
.wrap_n input[type="checkbox"]:checked + label:before {background:url(../images/2020/common/icon_check_on.png) 0 0 no-repeat;}


.wrap_n input[type="radio"] {display:none; }
.wrap_n input[type="radio"] + label {
    height: 12px;
    padding-left: 19px;
    display: inline-block;
    position: relative;
    font-size: 12px;
    color: #000;
    line-height: 1;
    cursor: pointer;
    color: #6b6b6b;
}
.wrap_n input[type="radio"] + label:before {content:''; width:12px; height:12px; position:absolute; left:0px; top:0; display:inline-block; background:url(../images/2020/common/icon_check.png) 0 0 no-repeat; }
.wrap_n input[type="radio"]:checked + label:before {background:url(../images/2020/common/icon_check_on.png) 0 0 no-repeat;}

.wrap_n .grid tbody td{text-align:center;color: #4e4944;font-size: 13px !important;padding: 9px 10px;}
.wrap_n .grid tbody td.td_l{text-align:left !important}

.wrap_n .button.medium * {
    padding: 0 15px 0 15px;
}


.wrap_n #popHeader h1 {
    font-size: 16px;
    _font-size: 16px;
    background: url(../images/2020/common/bg_tit_pop.png) repeat 0 0 !important;
    height: 55px;
    line-height: 55px;
    color: #fff !important;
}
.wrap_n #popHeader {
    background: url(../images/2020/common/bg_tit_pop.png) repeat 0 0 !important;
    padding-left: 22px;
}

#pop_wrap.wrap_n .grid thead th {
    background: #666;
    border: 1px solid #dddddd;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    font-weight: 600;
    border-top: 0;
	text-align: center;
}
#pop_wrap.wrap_n .strong {
  font-size: 12px;
}
#pop_wrap.wrap_n .grid tbody td {
    text-align: left;
}
#pop_wrap.wrap_n button{display: inline-block;padding: 5px 7px;border-radius:2px;font-size:11px ;}

.wrap_n .section h2 {
    background: url(../images/2020/common/bullet_h2.png) no-repeat 0 45%;
    color: #3d3d3d;
margin: 30px 0 5px;
font-size: 14px;

}
.orange {
    color: #ee5b2f !important;
}
.orange a{color: #ee5b2f !important;}

.wrap_n .section .white_box  h4 {
    background: url(../images/2020/common/bullet_h2.png) no-repeat 0 40%;
    padding-left: 19px;
    font-size: 16px;
    line-height: 1;
    color: #333;
}
.wrap_n .white_box {
    background: url(../images/2020/common/bg_box_img2.png) no-repeat 0 0;
    border:0;
    margin-top: 28px;
}

.wrap_n .topLine {
    background: #545454;
}

.wrap_n .grid tbody th label.necessary {
    background: url(../images/2020/common/necessary.png) no-repeat 98% 2px !important;
    padding-right: 10px !important;
}

.wrap_n form .grid tbody td{text-align:left;}
.button a{display: inline-block;padding: 5px;border-radius: 2px;}




.mt3{margin-top:3px ;}

.wrap_n .white_box .box5 .box5_con div.fl {
    background: none;
    padding-left: 17px;
    width: 73% !important;
}

.wrap_n .white_box .box5 .box5_con {
    padding: 30px 15px 35px;
}
.wrap_n .white_box .box5 .box5_con div.fl {
    background: none;
    padding-left: 10px;
    width: 76% !important;
}


#pop_wrap.wrap_n table caption{background:#545454;color: #fff;font-size:13px ;line-height: 34px;font-weight:600 ;}

.wrap_n .text-center th{background: #f3f3f3;
border: 1px solid #dddddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
font-size: 13px;
line-height: 28px;
word-wrap: break-word;
color: #4e4944;
font-weight: 600;}

.center.grid td{text-align:center !important }
.center.grid tbody td:first-child,.center.grid th:first-child{border-left:0 !important}
.center.grid tbody td:last-child,.center.grid th:last-child{border-right:0 !important}

.wrap_n .text-center tbody td:first-child,.wrap_n .text-center th:first-child{border-left:0 !important}
.wrap_n .text-center tbody td:last-child,.wrap_n .text-center th:last-child{border-right:0 !important}

.wrap_n .text-center tbody td {
    border: 1px solid #e7e7e7 !important;
    padding: 5px 10px;
    color: #4e4944;
    background: #ffffff;
color: #4e4944;
font-size: 12px !important;
padding: 7px 10px;
text-align:center;

}

.wrap_n .text-center{border-collapse: collapse;}

#pop_wrap.wrap_n  .text-center button{
position: relative;
margin: 0;
padding: 0;
display: inline-block;
text-decoration: none !important;
border: 0;
font-size: 12px;
white-space: nowrap;
background: url(../images/2020/common/button.png) repeat-x;
background-size:auto 100%;
vertical-align: top;
overflow: visible;
color: #ffffff;
padding: 2px 8px;
border-radius:2px
}



.wrap_n .usr_process_n .list_step{overflow:hidden;border-top:1px solid #e4e4e4;}
.wrap_n .usr_process_n .list_step li{position:relative;box-sizing:border-box;width:33.33%;float:left;padding:0px 41px 0 0px;height:79px;border-bottom:1px solid #e4e4e4;background:#fff;}
.wrap_n .usr_process_n .list_step li .wrap{padding:17px 0px 0 61px;height:78px;box-sizing: border-box;}
.wrap_n .usr_process_n .list_step li:after{content:'';width:39px;height:79px;position:absolute;right:0;top:-1px;background: url(../images/2020/common/arrow1.jpg) right 0 no-repeat;border-bottom:1px solid #e4e4e4;}
.wrap_n .usr_process_n .list_step li.active:after{background: url(../images/2020/common/arrow2.jpg) 0 0 no-repeat;}
.wrap_n .usr_process_n .list_step li p{font-size: 14px;color: #898989;font-weight: 100;padding:0 0 3px;}
.wrap_n .usr_process_n .list_step li strong{font-size: 14px;color: #898989;font-weight: 600;}
.wrap_n .usr_process_n .list_step li.active::before {
    content: '';
    width: 41px;
    height: 81px;
    position: absolute;
    left: -41px;
    top: -1px;
    background: url(../images/2020/common/arrw_join_on_after.jpg) 0 0 no-repeat;
}

.wrap_n .usr_process_n .list_step li:nth-child(1) .wrap {
    padding: 17px 0px 0 58px;
}

.wrap_n .usr_process_n .list_step li:first-child{border-left:1px solid #e4e4e4;}
.wrap_n .usr_process_n .list_step li:last-child{border-right:1px solid #e4e4e4;}
.wrap_n .usr_process_n .list_step li:last-child:after{display:none;}
.wrap_n .usr_process_n .list_step li.active:last-child{background:#f05a22}

.wrap_n .usr_process_n .list_step li.active .wrap{background:#f05a22;}
.wrap_n .usr_process_n .list_step li.active p{color: #fff;}
.wrap_n .usr_process_n .list_step li.active strong{color: #fff;}


.wrap_n .usr_process_n .list_step li .wrap{background: url(../images/2020/common/process1.jpg) 0 center no-repeat;margin: 0 0 0 55px;}
.wrap_n .usr_process_n .list_step li:nth-child(2) .wrap{background: url(../images/2020/common/process2.jpg) 0 center no-repeat;margin: 0 0 0 35px;}
.wrap_n .usr_process_n .list_step li:nth-child(3) .wrap{background: url(../images/2020/common/process3.jpg) 0 center no-repeat;margin: 0 0 0 55px;}


.wrap_n .usr_process_n .list_step li.active .wrap{background: #f05a22 url(../images/2020/common/process1_on.jpg) 0 center no-repeat;}
.wrap_n .usr_process_n .list_step li:nth-child(2).active .wrap{background: #f05a22 url(../images/2020/common/process2_on.jpg) 0 center no-repeat;}
.wrap_n .usr_process_n .list_step li:nth-child(3).active .wrap{background: #f05a22 url(../images/2020/common/process3_on.jpg) 0 center no-repeat;}
.wrap_n .usr_process_n .list_step li.active{background: #f05a22}

.white_box_join{background: #fafafa;overflow-y: auto;border:1px solid #dddddd;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 18px 19px;
height: 202px;

}
.white_box_join *{color: #545454;
font-size:12px;
line-height:18px;font-weight:300 ;}


.wrap_n  .ce.mt15.vmid{font-size:12px ;color: #6b6b6b;}

.wrap_n .button.small.icon * {
    padding-right: 5px;
}

.wrap_n .login_bg2{margin: 20px 0;background:#fafafa;border:1px solid #dddddd;padding: 61px 0;}
.wrap_n .login_bg2 .inner{text-align:center;}
.wrap_n .login_bg2 .inner .img{display: inline-block;width: 136px;vertical-align: top;}
.wrap_n .login_bg2 .inner .ment{display: inline-block;width: 277px;vertical-align: top;}
.wrap_n .login_bg2 .inner .ment p{font-size:13px ;color: #545454;font-weight:300 ;line-height:25px;}
.wrap_n .login_bg2 .inner .ment p strong{font-size:15px ;color: #545454;font-weight:800 ;}
.wrap_n .login_bg2 .inner .ment .button{margin: 14px 0 0;padding: 5px 20px;border-radius:2px;font-size:13px ;font-weight:800 ;}

.wrap_n .login_bg2 .txt_b{font-size:13px ;text-align:center;padding: 24px 0 0;} 

.wrap_n .login_word{color: #545454;font-size:14px ;}
.wrap_n .login_input > input{border:1px solid #d3d3d3}
.wrap_n .login_rt_tp_rt > a {
width: 117px;height: 108px;
background: url(../images/2020/button/login_bg_2c65aa.jpg) 0 0 repeat-x;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border-radius:2px;
border:1px solid #5a5a5a;
background-size: 100% 100%
}

.wrap_n .login_rt_tp_rt > a {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 43px 27px;
    margin-left: 10px;
}

.wrap_n .login_rt_tp_lf {
    float: left;
    width: 310px;
    margin-bottom: 10px;
}
.wrap_n .login_word {
    width: 24%;
}
.wrap_n .login_input {
    width: 76%;
}
.wrap_n .login_bg {
    padding: 55px 100px 45px;
    width: 808px;
    box-sizing: border-box;
}
.wrap_n .login_foot2{padding: 32px 0 32px 222px;margin: 15px 0 0;background: url(../images/2020/common/bg_box_img3.png) 0 center no-repeat;height: 131px;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
.wrap_n .login_foot2 strong{font-weight:600 ;}
.wrap_n .login_foot2 *{color: #545454;    line-height: 1.5;}
.wrap_n .login_foot2 h2{margin: 0 0 10px;}
.wrap_n .login_rt_tp_rt > a.button2{
padding: 23px 27px;
height: 68px;

}

.wrap_n .login {
    border-bottom: 0;
}

.wrap_n .login_rt_btm {
    padding: 25px 0 30px 1px;
}

.wrap_n .login_rt_btm {
 
}

.wrap_n .login_rt_btm > a.button1{border-radius:2px;background: url(../images/2020/common/bg_btn_1.jpg) 0 0 repeat-x;color: #545454;font-weight:400 ;    padding: 5px 15px;}
.wrap_n .login_rt_btm > a.button2{border-radius:2px;background: url(../images/2020/common/bg_btn_2.jpg) 0 0 repeat-x;color: #fff;font-weight:400 ;    padding: 5px 15px;border:1px solid #c04211}