.bold{font-weight:bold;}
.align_cen{text-align:center;}
.align_lf{text-align:left;}
.align_rt{text-align:right;}
.float_lf{float:left;}
.float_rt{float:right;}
.mar_auto{margin:0 auto;}
.pad_lf10{padding-left:10px;}
.pad_lf20{padding-left:20px;}

.color_fff{color:#ffffff;}
.color_ff6000{color:#f05a22;}
.color_2c65aa{color:#2c65aa;}
.color_ff0000{color:#ff0000;}
.color_41629d{color:#41629d;}
.color_d4281e{color:#d4281e;}
/* .color_2c65aa{color:#2c65aa;} */
.color_2c65aa{color:#FF5700;}
.con_lf_big_title{background:url(../images/sub_img/sub_lf_menu_bg.gif) no-repeat center center;font-size:32px;font-weight:bold;text-align:center;width:250px;padding:42px 0;color:#ffffff;}
.con_lf_big_title2{background:url(../images/sub_img/sub_lf_menu_bg.gif) no-repeat center center;font-size:28px;font-weight:bold;text-align:center;width:250px;padding:28px 0;color:#ffffff;}
.sub_lf_menu > li{width:250px;}
.sub_lf_menu > li > a{display:block;font-size:15px;font-weight:bold;text-align:left;padding:20px 0 20px 20px;border-left:1px solid #dddddd;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;color:#212121;}
.sub_lf_menu > li > a.on{;color:#2c65aa;}
.sub_lf_menu > li > a:hover{;color:#2c65aa;}
.con_rt{width:811px;margin-left:40px;}
.con_rt_hd_title{font-size:32px;font-weight:bold;margin-top:20px;padding-bottom:10px;border-bottom:1px solid #b7b7b7;}


/*sub_contents_con*/
#sub_contents_con{margin-top:40px;}
/* #sub_contents_con{margin-top:40px;min-height:900px;} */
.sub_con_h1{font-size:22px;font-weight:bold;color:#212121;}
.sub01_con_bg1{background:url(../images/sub_img/sub_01.png) no-repeat left center;text-align:center;width:397px;padding:16px 0;margin:5px auto;}
.w400{width:400px;}
.sub01_con_bg2{background:url(../images/sub_img/sub_05.png) no-repeat left center;width:147px;text-align:center;padding:15px 0;line-height:20px;font-size:15px;font-weight:bold;color:#ffffff;display:inline-block;margin:0 5px;}
.sub01_con_bg3{background:url(../images/sub_img/sub_06.png) no-repeat left center;width:327px;text-align:center;padding:8px 0;font-weight:bold;display:inline-block;margin: 0 10px;}

.word_dian_bg{background:url(../images/main/main_message_dian.gif) no-repeat left 8px;padding-left:10px;line-height:20px;}
.sub01_con_bg4_tp{background:url(../images/sub_img/sub_07_01.gif) no-repeat left center;height:25px;}
.sub01_con_bg4{background:url(../images/sub_img/sub_07_02.gif) repeat-y left center;padding:5px 37px 33px 55px;border-bottom:1px solid #dddddd;}
.sub_con_h2{background:url(../images/sub_img/sub_08.gif) no-repeat left 3px;padding-left:20px;color:#2c65aa;font-size:16px;font-weight:bold;}

.w_b75{width:75%;}
.sub01_logo_bg01{background:url(../images/sub_img/sub_13_01.gif) no-repeat left center;width:188px;height:84px;}
.sub01_logo_bg02{background:url(../images/sub_img/sub_13_02.gif) no-repeat left center;width:188px;height:84px;}
.sub01_logo_bg03{background:url(../images/sub_img/sub_13_03.gif) no-repeat left center;width:188px;height:84px;}
.sub01_logo_bg04{background:url(../images/sub_img/sub_13_04.gif) no-repeat left center;width:188px;height:84px;}
.sub01_logo_bg05{background:url(../images/sub_img/sub_13_05.gif) no-repeat left center;width:188px;height:84px;}
.sub01_logo_bg06{background:url(../images/sub_img/sub_13_06.gif) no-repeat left center;width:188px;height:84px;}
.sub01_logo_bg07{background:url(../images/sub_img/sub_13_07.gif) no-repeat left center;width:188px;height:84px;}
.sub01_logo_bg08{background:url(../images/sub_img/sub_13_08.gif) no-repeat left center;width:188px;height:84px;}
.sub01_logo_bg09{background:url(../images/sub_img/sub_13_09.gif) no-repeat left center;width:188px;height:84px;}
.shortcut{margin:52px 0 0 92px;}

.sub01_consultation_bg{text-align:center;}
.sub01_consultation_bg > div{display:inline-block;margin:0 15px;}
.sub01_consultation_bg1{background:url(../images/sub_img/sub_10_01.gif) no-repeat left top;width:220px;height:110px;display:inline-block;}
.sub01_consultation_bg2{background:url(../images/sub_img/sub_11_01.gif) no-repeat left top;width:220px;height:110px;display:inline-block;}
.sub01_consultation_bg3{background:url(../images/sub_img/sub_12_01.gif) no-repeat left top;width:220px;height:110px;display:inline-block;}
.shortcut2{margin:60px 0 0 80px;}

.sub_lf_menu2{border-left:1px solid #dddddd;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;}
.sub_lf_menu2 > li > a{background:url(../images/sub_img/sub_15.png) no-repeat 20px center;padding:10px 0 10px 30px;}
.sub_lf_menu2 > li > a.on{background:url(../images/sub_img/sub_14.png) no-repeat 20px center;color:#2c65aa;font-weight:bold;}
.sub_lf_menu2 > li > a:hover{background:url(../images/sub_img/sub_14.png) no-repeat 20px center;color:#2c65aa;font-weight:bold;}
.bg_f8f8f8{background-color:#f8f8f8;border:1px solid #dddddd;padding:20px 20px 10px;}
.sub_blue_point_bg{display:inline-block;background:url(../images/sub_img/sub_16.png) no-repeat left center;padding-left:10px;font-weight:bold;}
.search_button{display:inline-block;background-color:#2c65aa;color:#ffffff;padding:5px 10px;vertical-align:bottom;}

.bg_757575{background-color:#757575;padding:13px 20px;}

/* .committee{width:176px;background:url(../images/sub_img/sub_18.png) no-repeat 92% center;background-color:#2c65aa;padding:10px 0 10px 20px;color:#ffffff;font-weight:bold;} */
.committee{width:176px;background:url(../images/sub_img/sub_18.png) no-repeat 92% center;background-color:#FF5700;padding:10px 0 10px 20px;color:#ffffff;font-weight:bold;} 
.w320{width:320px;}

.bg_f8f8f8_1{background-color:#f8f8f8;border:1px solid #dddddd;text-align:center;padding:20px 0;}
.method_bg_25869b{width:186px;background:url(../images/sub_img/sub_18.png) no-repeat 90% center;background-color:#25869b;padding:10px 0 10px 20px;color:#ffffff;font-weight:bold;}


.font15{font-size:15px;}
.tel_and_email > span{display:inline-block;/* margin-right:50px; */}
.bg_fafafa{background-color:#fafafa;padding:10px 0 10px 15px;border-left:1px solid #dddddd;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;}
.page{text-align:center;}
.page > a.page_num{border:1px solid #dddddd;padding:6.5px 0;width:31px;vertical-align:middle;}
.page > a.on{background-color:#2c65aa;color:#ffffff;}
.page > a:hover{background-color:#2c65aa;color:#ffffff;}
.sub_menu1 > li{float:left;}
.sub_menu1 > li > a{border-left:1px solid #dddddd;border-right:1px solid #dddddd;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;padding:10px 0;text-align:center;font-size:15px;font-weight:bold;}
/* .sub_menu1 > li > a.on{background-color:#2c65aa;color:#ffffff;} */
.sub_menu1 > li > a.on{text-decoration:underline; background-color:#FF5700;color:#ffffff;}

.sub_menu1 > li > a.last_rt_bor{border-right:1px solid #dddddd;}
.w80 > li > a{width:80px;}
.w114 > li > a{width:113px;border-right:1px solid #dddddd;}
.w200 > li > a{width:200px;}
.w201 > li > a{width:200px;}
.w269 > li > a{width:257px;}
.w403 > li > a{width:403px;}



/*sub03_popup*/
.sub03_popup_posi{position:relative;}
#sub03_popup{position:absolute;top:-300px;left:0;}
.sub03_popup{width:800px;background-color:#ffffff;border:1px solid #000000;}
.sub03_pop_head_bg{background:url(../images/sub_img/pop_head_bg.gif) repeat-x left center;font-size:22px;font-weight:bold;color:#ffffff;text-align:center;padding:17px 0;}
.sub03_pop_btm{padding:15px 20px 40px;}
.pop_quick{width:176px;background:url(../images/sub_img/sub_18.png) no-repeat 90% center;background-color:#666666;padding:10px 0 10px 20px;color:#ffffff;font-weight:bold;}
.sub03_popup textarea{height:48px;border:1px solid #dddddd;overflow-y:auto;padding:5px;line-height:18px;}
.sub03_pop_radio input{vertical-align:-2px;}
.file_add{background-color:#2c65aa;color:#ffffff;text-align:center;padding:5px 15px;font-weight:bold;}
.file_delete{background-color:#666666;color:#ffffff;text-align:center;padding:5px 15px;font-weight:bold;}
.pop_cancel{background-color:#666666;color:#ffffff;text-align:center;padding:10px 15px;font-weight:bold;}
.pop_apply{background-color:#2c65aa;color:#ffffff;text-align:center;padding:10px 15px;font-weight:bold;}
.sub03_pop_foot{text-align:center;background-color:#f8f8f8;padding:30px 0;}
/*sub03_popup*/


/*sub03_pop_quick_popup*/
#sub03_pop_quick_popup{position:absolute;top:-310px;left:10px;z-index:5;}
.pop_quick_popup_btm{padding:15px 20px 40px;}
.w760_over{width:760px;height:580px;overflow:auto;}
/*sub03_pop_quick_popup*/


/*sub03_register_popup*/
#sub03_register_popup{position:absolute;top:0;left:0;}
/*sub03_register_popup*/


.register{background-color:#666666;color:#ffffff;text-align:center;padding:10px 20px;font-weight:bold;}
.damages_num{background-color:#ffffff;border:1px solid #dddddd;font-size:16px;padding:10px 15px;}
.w186{width:186px;}
.spacing_f1{letter-spacing:-1px;}
.line_ht20{line-height:20px;}


/*sub03_01_popup_bg*/
.sub03_01_popup_bg{background:rgba(0, 0, 0, 0.8)!important;filter:Alpha(opacity=8);background-color:#000000;position:absolute;top:0;left:0;width:100%;height:100%;}
.sub03_01_pop_posi{position:absolute;top:5%;left:25%;width:792px;border:1px solid #dddddd;}
.sub03_01_pop_head{background-color:#757575;color:#ffffff;font-size:16px;font-weight:bold;text-align:center;padding:15px 0;border-bottom:1px solid #dddddd;position:relative;}
.sub03_01_pop_head > a{position:absolute;right:20px;top:15px;}
.sub03_01_pop_con{padding:20px 20px 30px;background-color:#ffffff;}
.pop_check{background-color:#2c65aa;color:#ffffff;text-align:center;padding:10px 25px;font-weight:bold;}
/*sub03_01_popup_bg*/


.login_bg{background-color:#f8f8f8;border:1px solid #dddddd;padding:50px 100px 30px;}
.login{border-bottom:1px solid #dddddd;}
.login_lf{float:left;margin:0 30px 0 25px;}
.login_rt{float:left;padding-top:14px;}
.login_rt_tp_lf{float:left;width:352px;margin-bottom:10px;}
.login_rt_tp_rt{float:left;}
.login_rt_tp_lf_lf{margin-bottom:10px;}
.login_word{float:left;width:22%;padding-top:10px;font-size:15px;font-weight:bold;}
.login_input{float:left;width:78%;}
.login_input > input{width:95%;height:25px;line-height:25px;}
.login_rt_tp_rt > a{background-color:#666666;color:#ffffff;font-size:20px;font-weight:bold;text-align:center;padding:28px 27px;margin-left:10px;}
.login_rt_tp_rt > a.login_bg_2c65aa{background-color:#2c65aa;}
.login_rt_btm{padding:25px 0 30px 77px;}
.login_rt_btm > a{background-color:#ffffff;border:1px  solid #dddddd;padding:8px 15px;}
.login_foot{background-color:#ffffff;border:1px solid #dddddd;padding:20px 30px;margin-top:30px;}
.login_admin > a{background-color:#666666;color:#ffffff;font-size:15px;font-weight:bold;text-align:center;padding:6px 20px;margin-left:10px;}
.login_admin > a.login_bg_2c65aa{background-color:#2c65aa;}

.w685{width:685px;}
.w238_pad_lf40{width:238px;padding-left:40px;}
.w259{width:259px;}

.title_query{background-color:#fafafa;border:1px solid #dddddd;}
.title_query_lf{float:left;padding:20px 105px 20px 45px;background:url(../images/sub_img/sub_16.png) no-repeat 30px 28px;width:480px;}
.title_query_lf > input{margin-left:75px;width:75%;}
.title_query_rt{float:left;padding:16px 45px;border-left:1px solid #dddddd;}
.mar_lf50{margin-left:50px;}

.sub04_img_bg{display:inline-block;background:url(../images/sub_img/sub_47.gif) no-repeat center center;padding:20px 10px;background-size:100% 100%;text-align:center;font-weight:bold;}
.w145{width:145px;}
.w188{width:188px;padding:30px 10px;height:14px;vertical-align:top;}
.w217{width:217px;}
.w250{width:250px;}

.sub05_bg_fafafa{background-color:#fafafa;padding:40px 65px;}
.sub05_02_con_rt_tp{background-color:#666666;color:#ffffff;font-weight:bold;padding:15px 20px;}
.sub05_02_con_rt_con{background-color:#fafafa;padding:30px 20px;}

.sub06_rt_con_tp{background-color:#f8f8f8;border:1px solid #dddddd;padding:20px;}
.sub06_rt_con_tp > select{width:18%;}
.sub06_rt_con_tp > input{width:60%;}

/* layer popup */
.layer_relative{ position: relative; z-index: 99;}
.layer_pop{ position: absolute; display: none; border: 1px solid #336bab; background: #336bab url(/images/2012/content/layer_bg.gif) repeat-x 0 0; right: 10%; z-index: 100;}
.layer_pop h1{ font-size: 11px; color: #fff; padding: 5px 10px; border: 0; margin: 0; height: 15px;}
.layer_pop .layer_con{ position: relative; background: #ffffff; padding: 10px;}
.layer_pop .layer_close{ position: absolute; right: 5px; top: 5px; display: block; padding: 2px;}



/* 20170319 */
#submenu{margin:0 auto;width:1102px;}
#submenu ul li {
	float:left;
	list-style-type:none;
	padding:0 37px;height:37px;line-height:37px;
}
#submenu ul .pdnn {padding-right:0;}
#submenu a {
	color:#ffffff;font-size:18px;font-weight:bold;letter-spacing:-1px;
}
.subhearinp{float:left;margin-left:114px;margin-top:10px;}
.subhearinp > input{    width: 426px; height: 19px;border-top:2px solid #2d64a7;border-left:2px solid #2d64a7;border-bottom:2px solid #2d64a7;border-right:2px solid #2d64a7;}
.subhearinp > a{border:1px solid #2d64a7;background-color: #1AB1F6; color: white;display:inline-block;width:45px;height:27px;vertical-align: middle;text-align:center;line-height:27px;margin-left:4px;}
select{height: inherit;}
.subheadmenubt{position:absolute;top:147px;left:0;width: 100%; height: 267px;background: url(./images/menup.png) repeat; z-index: 999;}
.subheadmenubt2{margin: 0 auto;width: 1102px;}
.subheadmenubt2 > ul{float:left;height:202px;margin-top:17px;border-right:1px solid #8bacd0;padding:0 17px;padding-top:9px;}
.subheadmenubt2 > ul > li > a{color:#2d64a7;font-size:14px;}
.subheadmenubt2 > .hulpdr{padding-right:82px;}
.subheadmenubt2 > .none{border:0;}
.subcetcol{height:37px;border:2px solid #dddcdc;background:#deebf7;margin-top:6px;}
.subcetcol > .cetcol1{float:left;line-height:37px;padding-left:38px;}
.subcetcol > .cetcol2{float:right;margin-top:5px;margin-right:5px;}
.bg_2e75b6{background:#2e75b6;padding: 13px 20px;}
.sub_tab1 th{background:none;}
.bzhlag{width:20px;height:20px;background:white;display:inline-block;text-align:center;line-height:20px;margin-left:3px;position:relative;}
.bzhlag > a{margin-top:3px;}
.bzhlag .bzhlag22{display:none;position:absolute;top:0;left:20px;width:253px;height:auto;background:white;color:#4457ff;border:1px solid #3a3aff;padding:9px;text-align:left;}


