@charset 'euc-kr';
/* 테이블 설정 */
table {
	empty-cells:show; 
	border:0;
	border-collapse: collapse;
	white-space: pre-wrap;
	white-space: moz-pre-wrap;
	word-wrap: break-word;	
}
caption	{display:none;clear:both;border-collapse:collapse;font-style: normal; font-weight:normal;}
td, th {font-size: 12px;}
td img, th img {vertical-align:middle}
thead th, tbody th { font-weight: bold;}
table a:link, a:visited {
  font: 12px 돋움;
	color: #565656;
}
table a:hover {		
	color: #f56912;
	text-decoration: none;
}
input.chk {border: 0;}
/*테이블리스트*/
.board {	
	margin: 0 0 8px 15px;
}

.ListTop {
	background: url(/images/board/List_thBg.gif) no-repeat left top;
}
.ListTop thead th {
	background: url(/images/board/List_thLine.gif) no-repeat right 1px;
	height: 28px;	
	text-align: center;
}
.ListTop thead th.first {
	background: none;
}
.ListTop thead th.right {
	background: url(/images/board/List_thR.gif) no-repeat right top;	
}
.ListTop tbody td {
	background: none;
	border-bottom: 1px solid #eee;
	padding: 5px;
	text-align: left;
	line-height: 13px;
}
.ListTop tbody td.last {
	background: none;
	border-bottom: 1px solid #298fc0;
	padding: 0;
	height: 3px;
}
.ViewTop thead {
	background: url(/images/board/View_thBg.gif) no-repeat left bottom;	
	height: 34px;		
}
.ViewTop thead th {	
	text-align: left;	
	height: 34px;	
	line-height: 16px;
	padding: 8px 0 2px 0;
}
.ViewTop thead td {
	background: url(/images/board/View_thR.gif) no-repeat right bottom;	
	height: 34px;	
	line-height: 16px;	
	padding: 8px 0 2px 0;
	text-align: left;
}
.ViewTop .tlt {
	padding-left: 6px;	
	/*color: #f89d52;*/
	color: #1f9ab5;
}
.ViewBody th {
	border: 1px solid #eee;
	background: #f9f9f9;	
	padding: 4px 5px 4px 18px;
	line-height: 18px;
	vertical-align: middle;
	text-align: left;
} 
.ViewBody td {
	border: 1px solid #eee;
	background: #FFF;
	padding: 4px 5px 4px 5px;
	line-height: 18px;	
	vertical-align: top;
	text-align: left;
}

/* 테이블 TD 여백 */
.ListTop tbody .C, .viewTop tbody .C {text-align: center;}
.ListTop tbody .R, .viewTop tbody .R {text-align: right;}
.ViewTop thead th {padding-left: 18px; padding-right: 5px;}
.ViewTop thead td {padding-left: 5px; padding-right: 5px;}

/*페이징 처리*/
.paging {
	clear: both;
	text-align:center;
	height: 15px;
	vertical-align: top;
	margin-left: 15px;
}
.paging img {
	padding-top: 4px;
}
.paging a, a:link {
	font: 85% tahoma;
	color: #8f8f8f;
}
.paging a:hover {
	font: 85% tahoma;
	color: #f36817;
	text-decoration: none;
}
.paging ul {
	text-align: center;
}
.paging ul li {
	display: inline;
}
.paging ul li.page {
	text-align: center;
	padding-left: 5px;
}
.paging ul li.page span {
	padding-right: 5px;
	font: bold 100% tahoma;
	color: #f36817;
}
.tdContents {	  
	height: 100px;	
	vertical-align: top;	
}
td input.input {
	height: 15px;
	padding-top: 2px;	
}
.ViewTop .necessary {
	background: url(/images/common/ic_necessary.gif) no-repeat 6px 60%;	
	vertical-align: middle;
}
span.necessary {	
	margin-left: -11px;
	margin-right: 2px;
}
.ViewBody .necessary {
	background: #f9f9f9 url(/images/common/ic_necessary.gif) no-repeat 6px center;
	vertical-align: middle;
}
input.readonly, textarea.readonly  {
	background: #daede7;	
	cursor: default;
}
td li {
	background: url(/images/common/bl_dash.gif) no-repeat left 45%;
	padding-left: 7px;
}