@charset "euc-kr";

/* layout */
#wrap{ background: #fff url(../images/common/top_bg.gif) repeat-x 0 0; width:100%; position: relative; margin: 0 auto;}
#header{ width: 980px; margin: 0 auto; position: relative; z-index: 999; height: 109px; background: url(../images/common/header_bar.gif) no-repeat 0 100%;}
#container{ width: 980px; margin: 0 auto; vertical-align:top; *zoom: 1; background: url(../images/common/dot1.gif) repeat-y 216px 0;}
#footer{ width: 980px; margin: 0 auto 2px; vertical-align:top;}

/* 전체보기 */
#all_menu_view{ display: none; position:absolute; width:980px; left: 0; top: 44px; z-index: 99999999;}
#all_menu{ background: url(../images/common/all_view_box.gif) no-repeat 0 0; padding-top: 20px; position: relative;}
#all_menu .all_menu_box{ background: url(../images/common/all_view_box.gif) no-repeat 0 100%; padding-bottom: 20px;}
#all_menu .all_menu_box .all_menu_list{ background: #fff; border-left: 2px solid #e67431; border-right: 2px solid #e67431; padding: 0 17px;}
#all_menu .all_menu_box .all_menu_list ul li{  *zoom: 1; padding: 2px 0}
#all_menu .all_menu_box .all_menu_list h2{ float: left; background: url(../images/common/arrow2.gif) no-repeat 0 45%; padding: 0 0 0 14px; font-size: 12px; color: #333; width: 22%}
#all_menu .all_menu_box .all_menu_list a{ display: inline-block; color: #333; line-height: 1.5;}
#all_menu .all_menu_box .all_menu_list a:hover{ color: #f15922;}
#all_menu .all_menu_box .all_menu_list ul ul{ float: right; border-bottom: 1px solid #eaecee; width: 76%}
#all_menu .all_menu_box .all_menu_list li li{ float: left; margin: 0 8px}
#all_menu .all_menu_box .all_menu_list li li a{ background: url(../images/common/dot8.gif) no-repeat 0 45%; padding-left: 10px; font-size: 11px;}

/* HEADER */
#header .top{ height: 52px; *zoom: 1; position: relative; z-index: 9999999;}
#header .top fieldset{ float: right; top: 11px; position: relative; height: 23px;}
#header .top fieldset input[type=text]{ border: 3px solid #9d9d9d; height:17px; line-height: 17px; margin-left: 2px; font-size: 11px; width: 130px;}
#header h1{ position: absolute; top: 52px; z-index: 100000;}
#header h1 a{ display: block; width: 150px; height: 33px; background: url(../images/common/top_logo.gif) no-repeat 50% 0; text-indent: -1000000px; overflow: hidden;}
#header .top .tmenu{ float: right; *zoom: 1; margin: 13px 120px 0 0;}
#header .top .tmenu li{ float: left; margin: 0; padding: 0; background: url(../images/common/division1.gif) no-repeat 0 45%;}
#header .top .tmenu li a{ display: inline-block; padding: 4px 9px}
#header .top .tmenu li a img{ vertical-align: middle;}
#header .top .tmenu li a.login{ padding: 0; margin-left: 2px;}
#header .top .tmenu .f_control{ float: left; margin-left: 5px;}

.select{ position:relative; line-height:normal; display:inline-block; *display:inline; vertical-align:middle; background:#fff; *zoom:1; z-index: 200000; border: 3px solid #9d9d9d;  z-index: 99999999;}
.select *{ margin:0; padding:0; cursor:pointer; font-size:11px;}
.select .myValue{ position:relative; z-index:1; left:0; top:0; color:#666; line-height:17px; _line-height:normal; text-align:left; overflow:visible; background:transparent;}
.select .myValue.selected{ font-weight:bold;}
.select.open .myValue,
.select .myValue.outLine{ border:0;}
.select button.myValue{ height:17px; width:100%; text-indent:5px; *text-indent:0; *padding-left:5px;}
.select div.myValue{ height:17px; text-indent:8px;}
.select .ctrl{ position:absolute; top:1px; right:0; width:18px; height:10px; border:3px solid #fff; border-left: 1px solid #cbcbcb;}
.select .arrow{ position:absolute; width:0; height:0; top:4px; right:5px; line-height:0; font-size:0; border-top:3px solid #333; border-left:3px solid #fff; border-right:3px solid #fff;}
.select ul{ top:17px; left: 0; width:112px; list-style:none; border:0; background:#fff; overflow:hidden; text-align: left !important}
.select ul.aList{ display:none;}
.select.open ul.aList{ display:block;}
.select ul.iList{ left:-2000%;}
.select.open ul.iList{ left: -3px; border: 2px solid #9d9d9d; border-top: 0;}
.select li{ position:relative; overflow:hidden; white-space:nowrap; height:18px; border-left:1px solid #bababa; border-right:1px solid #bababa;}
.select li input.option{ position:absolute; width:100%; height:20px; line-height:20px;}
.select li label{ position:absolute; left:0; top:0; width:100%; text-indent:8px; *text-indent:6px; height:18px; line-height:18px; color:#767676; background:#fff;}
.select li a{ display:block; text-indent:8px; *text-indent:6px; height:18px; line-height:18px; color:#767676; background:#fff; text-decoration:none;}
.select li.hover *{ background:#f1f1f1; color:#333;}

/* gnb */
.gnb{ position: relative; width: 980px; margin: 0 auto;}
#topGnb{ position: relative; float: right; *zoom: 1; padding-left: 240px; width: 740px;}
#topGnb li{ float: left; padding: 0 18px;}
#topGnb li a{ float: left; display: inline-block; padding: 14px 0;}
#topGnb li .sub{ position: absolute; left: 0; top: 45px; width: 980px; height: 38px; display: none; z-index: 999 !important; background: url(../images/common/navi.gif) no-repeat 0 100%;}
#topGnb li .sub ul{ *zoom: 1; height: 30px; float: right; background: url(../images/common/navi_arrow.gif) no-repeat; padding-top: 8px;}
#topGnb li .sub ul li{ float: left; padding: 0 7px;}
#topGnb li .sub ul li a{ display: inline-block; padding: 0; height: 14px; font-size: 12px; font-weight: bold; line-height: 1; color: #fff; padding: 8px 5px}
#topGnb li .sub ul li a:hover, #topGnb li .sub ul li.active a{ color: #fff600;}

#topGnb li.menu1 .sub ul{ float: left; margin-left: 220px; background-position: 10% 0;}
#topGnb li.menu2 .sub ul{ float: left; margin-left: 395px; background-position: 50% 0;}
#topGnb li.menu3 .sub ul{ margin-right: 30px; background-position: 50% 0;}
#topGnb li.menu4 .sub ul{ margin-right: 30px; background-position: 58% 0;}
#topGnb li.menu5 .sub ul{ margin-right: 30px; background-position: 70% 0;}
#topGnb li.menu6 .sub ul{ background-position: 97% 0;}


/* CONTAINER */
.container_vis{ background: url(../images/common/container_vis_line.png) repeat-x 0 100%; padding-bottom: 6px; height: 91px; *zoom: 1;}
.container_vis h2{ float: left; background: url(../images/common/container_vis_h2.gif) no-repeat 0 100%; width: 560px; height: 91px; position: relative;}
.container_vis h2 span{ position: absolute; bottom: 8px; left: 10px;}
.container_vis h2 span em{ display: block; margin-top: 7px;}

#container .content{ *zoom: 1;}
.left{ float: left; width: 215px; *overflow: hidden; padding-top: 20px;}

#sub_lnb{ width: 195px;}
#sub_lnb li{ border-bottom: 1px solid #e7e7e7; padding: 2px 0;}
#sub_lnb li ul{ display: none; border: 1px solid #e7e7e7; border-bottom: 0; margin-top: 2px; background: #f3f4f5; margin-bottom: -2px; padding: 4px 10px; width: 173px; *position: relative; *bottom: -2px; *margin-top: 0;}
#sub_lnb li ul li{ border-bottom: 0; padding: 0;}
#sub_lnb li ul li a{ display: block; background: url(../images/common/dot2.gif) no-repeat 13px 50%; padding: 5px 0 4px 23px; line-height: 1.2; color: #666; font-weight: bold; margin-bottom: 1px;}
#sub_lnb li ul li a:hover{ color: #f15922;}

.contentBody{ float: right; width: 735px; position: relative; padding-bottom: 50px;}
.contentBody h1{ height: 29px; border-bottom: 1px solid #e7e7e7; padding-top: 6px; margin-bottom: 20px;}
.path{ text-align: right; line-height: 2; font-size: 90%; height: 20px; color: #999;}
.path span{ margin: 0 0 0 10px; background: url(../images/common/dot3.gif) no-repeat 100% 45%; padding: 0 13px 0 0;}
.path em{ margin: 0 5px 0 10px; color: #666;}

.section h2{ background: url(../images/content/bullet_h2.gif) no-repeat 0 45%; padding-left: 18px; color: #333; font-size: 12px; line-height: 1.8; margin-bottom: 5px;}
.section h3{ background: url(../images/content/bullet_h3.gif) no-repeat 0 45%; padding-left: 17px; color: #333; font-size: 11px; line-height: 1.3; margin-bottom: 5px;}
.section h4{ background: url(../images/common/arrow.gif) no-repeat 0 40%; padding-left: 10px; font-size: 12px; line-height: 1; color: #333;}

.section h3.tab{ display: inline-block; height: 30px; background: url(../images/content/h3_tab.gif) no-repeat 0 0; padding-left: 5px; color: #fff; font-size: 12px; margin-bottom: 0;}
.section h3.tab span{ height: 30px; background: url(../images/content/h3_tab.gif) no-repeat 100% 0; display: inline-block; margin-right: -5px; line-height: 2.5; padding: 0 50px 0 45px}

/* tab */
.tab_area{ border-bottom:1px solid #d6d6d6;}
.tab_area ul{ position: relative; height:27px;}
.tab_area ul li{ float: left; height: 27px; position: relative; top: 1px; margin: 0 0 0 1px;}
.tab_area ul li a{ display:inline-block; height:27px; position: relative; background: url(/user../images/content/tab1.gif) no-repeat 0 0; padding-left: 20px;}
.tab_area ul li a strong{ color: #666; cursor:pointer; display:inline-block; height:27px; padding-right: 20px; background: url(/user../images/content/tab1.gif) no-repeat 100% 0; font-size: 11px; line-height: 27px;}
.tab_area ul li a:hover, .tab_area ul li.active a{ background: url(/user../images/content/tab1.gif) no-repeat 0 100%;}
.tab_area ul li a:hover strong, .tab_area ul li.active a strong{ color: #fff; background: url(/user../images/content/tab1.gif) no-repeat 100% 100%;}

/* box */
.boxStyle{ position: relative; background: #f2f3f4;}
.boxStyle .btmRound{ position: absolute; background: url(../images/content/box1Round.gif) no-repeat; width: 6px; height: 6px; bottom: 0; _background: none;}
.boxStyle .btmRound.rgt{ background-position: 100% 0; right: 0;}
.boxStyle .btmRound.rgtTop{ background: url(../images/content/box1RoundTop.gif) no-repeat 100% 0 !important; top: -2px; right: 0; width: 6px; height: 6px; _background: none;}
.boxStyle .btmRound.lftTop{ background: url(../images/content/box1RoundTop.gif) no-repeat 0 0  !important; top: -2px; width: 6px; height: 6px; _background: none; }
.boxStyle .box1, .box1{ background: #f3f4f5; border: 1px solid #e3e3e3; position: relative; bottom: 2px; padding: 7px 15px 5px;}

.gray_box{ background: url(../images/content/gray_box.gif) no-repeat 0 0; padding-top: 10px; margin-top: 10px;}
.gray_box .box4{ background: url(../images/content/gray_box.gif) no-repeat 0 100%; padding-bottom: 10px;}
.gray_box .box4 .box4_con{ border-left: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; background: #f3f4f5; padding: 0 10px;}

.white_box{ background: url(../images/content/white_box.gif) no-repeat 0 0; padding-top: 10px; margin-top: 10px;}
.white_box .box5{ background: url(../images/content/white_box.gif) no-repeat 0 100%; padding-bottom: 10px;}
.white_box .box5 .box5_con{ border-left: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; background: #fff; padding: 0 10px;}

.gray_box_line{ clear: both; background: url(../images/content/gray_box_line.gif) repeat-x 0 5px; padding-left: 20px; padding-top: 10px; *padding-top: 5px; margin-right: 10px; font-size: 11px; color: #666; line-height: 2;}
.border_box{ border: 1px solid #e3e3e3;background: #fff; padding:10px;}

/* 리스트 */
.list1 li{ background: url(../images/common/dot5.gif) no-repeat 0 6px; padding-left: 12px; line-height: 1.5; font-size: 12px;}
.list2 li{ background: url(../images/common/dot6.gif) no-repeat 0 6px; padding-left: 12px; color: #333; font-size: 11px; margin: 6px 0;}

.list2 li span, .list2 li em{ display: inline-block;}
.list2 li span img{ vertical-align: middle; margin-right: 3px;}
.list2 li span{color:#666}

.list3 li{ float: left; margin: 5px; line-height: 1;}
.list3 li a{ display: inline-block; background: url(/user../images/common/blue_arrow.gif) no-repeat 0 3px; color: #333; padding-left:12px; line-height: 1.3;}
.list3 li.on a{ color: #3992c0; font-weight: bold;}

.list_h3 li{ background: url(/user../images/content/content_h3.gif) no-repeat 0 5px; padding-left: 17px; color: #777; font-size: 12px; line-height: 1.5; font-weight: bold; word-break:keep-all;}
.list_h3 li ul{ padding: 10px 0;}
.list_h3 li ul li{ font-weight: normal; color: #666; background: url(/user../images/content/content_h4.gif) no-repeat 0 6px; padding-left: 12px; line-height: 1.5;}

/* 회원정보  */
.user_area{ background: url(../images/content/user_bg.gif) no-repeat 100% 8px; padding: 15px 24px;}
.user_area dl{ line-height: 2;}
.user_area dl dt{ background: url(../images/common/dot7.gif) no-repeat 0 60%; padding-left: 13px; padding-top: 5px; color: #444;}
.user_area dl dd{ margin-left: 105px; margin-top: -25px;}
.usr_gray_box{ background: #f3f4f5; border-top: 1px solid #e7e7e7; padding: 5px 0; width: 735px;}
.usr_gray_box a{ color: #333;}
.comment_box{ border-top: 1px solid #e7e7e7; background: url(../images/content/comment_box.gif) no-repeat 0 100%; padding:10px 20px 30px; width: 695px;}

.usr_process{ background: url(../images/content/usr_process_box.gif) no-repeat 0 0; padding-top: 15px; margin-bottom: 20px;}
.usr_process .process_box{ background: url(../images/content/usr_process_box.gif) no-repeat 0 100%; padding-bottom: 15px;}
.usr_process .process_box ul{ width: 75%; margin: 0 auto;}
.usr_process .process_box ul li{ background: url(../images/content/arrow1.gif) no-repeat 100% 50%; margin-left: 30px; padding-right: 70px;}
.usr_process .process_box ul li.on{ background: url(../images/content/arrow2.gif) no-repeat 100% 50%;}
.stat_process .process_box ul li{ margin-left: 30px; padding-right: 50px;}

.result_area{ border-bottom: 1px solid #ddd; margin-bottom: 2px;}
.result_area .tab{ height: 28px; background: url(../images/content/result_tab.gif) no-repeat 0 0; padding-left: 10px; position: relative; top: 1px;}
.result_area .tab .tab2{ height: 28px; display: block; background: url(../images/content/result_tab.gif) no-repeat 100% 0; padding-right: 10px; margin-right: -5px; line-height: 2.5; font-size: 11px; color: #666;}

/* table */
table{display:table; border-spacing:0; border-style:none; border-width:0;}
caption{display:none;}
tr *{ border-bottom: 0;}
td, th *{font-size:12px; letter-spacing:0; border-width:0; border-style:none;}
th{white-space:nowrap; white-space:nomal;}
td{white-space:nomal; word-break:keep-all;}
td .img{padding:0 3px; vertical-align:middle;}
table a:link, a:visited{color:#62666a; }
table a:hover{color:#62666a !important;}

.grid{ width:100%; margin:0; empty-cells:show; border-collapse:collapse; border-style:none; border-width:0; font-size:12px;}
.grid thead th, .grid thead td, .grid tbody th, .grid tbody td, .grid tfoot th{border-style:none; border:0; border-width:0; empty-cells:show;}
.grid thead th, .grid thead td{color:#666; padding: 6px 5px;}
.grid tfoot th, .grid tfoot td{ background: #F5F9FA; border: 1px solid #d8d8d8; color: #333; padding: 5px;}
.grid thead th, .grid tbody th.view_tl{ background: #e3b23f url(../images/content/grid_th.gif) repeat-x 0 100%; border: 1px solid #d38a3b; font-size: 11px; line-height: 1.3; word-wrap:break-word; color: #fff;}

.grid tbody th, .grid thead td{ border: 1px solid #e7e7e7; padding: 6px 10px; color: #444; background: #f3f4f5; font-size: 11px; text-align: left; font-weight: bold; line-height: 1.3;}
.grid tbody th label.necessary{ background: url(../images/common/necessary.gif) no-repeat 98% 2px !important; padding-right: 10px !important;}/* 필수 */
.grid tbody td thead th{background: #e3b23f; border: 1px solid #d38a3b; font-size: 11px; line-height: 1.5; word-wrap:break-word; color: #fff !important; text-align: center;}
.grid tbody td th{ border: 1px solid #e7e7e7; padding: 3px 5px; color: #777 !important; background: #f9fafa; font-size: 11px;}
.grid tbody td th label{ font-weight: bold !important; color: #777 !important; }
.grid tbody td td{ font-size: 11px !important;}
.grid tbody td th.white, .grid tbody th.white{ background: #ffffff !important; color: #666 !important;}
.grid thead td, .grid tbody td{ border: 1px solid #e7e7e7 !important; padding: 7px 10px; color: #666; background: #ffffff;}
.grid tbody td.tdContent{ padding: 15px 8px; line-height: 1.5; border: 1px solid #e8e8e8;}
.grid thead th label, .grid tbody th label {font-size: 11px; font-weight: bold;}
.grid tbody td label {font-size: 11px; font-weight: normal !important;}
.grid tbody td .grid thead th label.necessary{ color: #fff !important;}

.grid_content{ width:100%; margin:0; empty-cells:show; border-collapse:collapse; border-style:none; border-width:0; font-size:12px;}
.grid_content thead th, .grid_content thead td, .grid_content tbody th, .grid_content tbody td, .grid_content tfoot th{border-style:none; border:0; border-width:0;}
.grid_content thead th, .grid_content thead td, .grid_content tbody th, .grid_content tfoot th, .grid_content tfoot td{color:#666; padding: 8px 5px; border: 1px solid #c2d7e4; background: #eef3f6; font-size: 11px;}
.grid_content tfoot th, .grid_content tfoot td{ border: 1px solid #ddd; border-bottom: 1px solid #ccc; padding: 5px; background: #f3f4f5;}
.grid_content thead th.first, .grid_content thead td.first, .grid_content tbody th.first, .grid_content tbody td.first, .grid_content tfoot th.first, .grid_content tfoot td.first{ border-left: 0;}
.grid_content thead th.last, .grid_content thead td.last, .grid_content tbody th.last, .grid_content tbody td.last, .grid_content tfoot th.last, .grid_content tfoot td.last{ border-right: 0;}
.grid_content thead th{ border-top: 1px solid #489ecb;}
.grid_content thead th span{ display: block; letter-spacing: -1px; font-weight: normal; font-size: 11px;}
.grid_content tbody td{ padding: 8px 5px; background: #fff; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; border-left: 1px dotted #e3e3e3; border-right: 1px dotted #e3e3e3;}
.grid_box { background: #eef3f6; color:#666; padding: 8px 5px; border-bottom: 1px solid #e3e3e3;}

.topLine{ background: url(../images/content/grid_top_line.gif) repeat-x 0 0; display: block; height: 2px; line-height: 0; margin:0; *float: left; *width: 100%;}
.topLine2{ background: #fab71b; display: block; height: 2px;}
.topLine3{ background: url(../images/content/top_line3.gif) repeat-x 0 0; display: block; height: 4px; line-height: 0; margin:0; *float: left; *width: 100%;}
.topDotted{ border-top: 1px dotted #e2e2e2 !important;}
.bgGray{ background: #f5f5f5;}
.necessary{  font-size: 11px; background: url(/admin../images/necessary.gif) no-repeat 100% 0 !important; padding-right: 10px !important;}
.grid .schArea{ background: none !important; border: 0 !important; text-align: left; border-color:#F1F7F7; padding: 2px;}

.grid tbody td{ font-size: 12px !important;}
.grid tbody .small_txt{ font-size:11px; letter-spacing: -1px;}

.schBoxGrid{ margin:0; empty-cells:show; border-collapse:collapse; border-style:none; border-width:0; font-size:11px; border-color:#FFF; position: relative;}
.schBoxGrid tbody th, .schDot1{ background: url(../images/common/dot4.gif) no-repeat 0 45%; padding:4px 5px 5px 15px; text-align: left; color: #464749; border: 0; font-size:11px !important; font-weight: bold !important;}
.schBoxGrid tbody label{ font-size: 11px; font-weight: bold;}
.schBoxGrid tbody td select{ font-size: 11px;}

.boxStyle .btn_area{ background: url(../images/common/dotted1.gif) repeat-y 0 0; padding-left: 10px;}

.rating_btn{ position: absolute; right: -1px; top: -1px; background: #f7f9f9; border: 1px solid #dcdcdc; padding: 5px;}

/* pagiNation */
.pagination{ line-height:normal; padding:10px 0 10px; text-align:center; font-size: 11px; text-align: center;}
.pagination a, .pagination strong{ color:#323232; display:inline-block; margin:0 -2px; padding:3px 8px; position:relative; vertical-align:top; z-index:2;}
.pagination strong { color:#f15922; font-size: 12px;}
.pagination .direction { color:#0f4078; padding: 3px;}
.pagination .direction span{ display:inline-block; vertical-align:top; height: 14px; background: url(../images/button/pagingArrow.gif) no-repeat; cursor: pointer;}
.pagination .direction span.prev{ background-position: -25px top; width: 11px;}
.pagination .direction span.next{ background-position: -45px top; width: 11px;}
.pagination .direction span.first{ background-position: left top; width: 16px;}
.pagination .direction span.last{ background-position: right top; width: 16px;}
/* //pagination */

/* BUTTON str */
.btnArea{ margin: 10px 0 0; text-align:center; *zoom: 1;}
.btnArea:after{ content: ""; clear: both; display: block;}
.btnArea .fl{ float: left;}
.btnArea .fr{ float: right;}

.button,
.button *{ position:relative; margin:0; padding:0; display:inline-block; text-decoration:none !important; border:0; font-size:12px; white-space:nowrap; background:url(../images/button/button.gif) no-repeat; vertical-align:top; overflow:visible; color:#ffffff;}
.button { margin-right:2px;}
.button *{ left:2px; cursor:pointer; _cursor:hand;}

/* Button Size = medium | large | xLarge | small */
.button.medium, .button.medium *{ height:26px; line-height:26px; color: #fff !important; font-size: 12px;}
.button.large, .button.large *{ height:49px; line-height:49px;}
.button.small, .button.small *{ height:20px; line-height:20px;}
.button.xsmall, .button.xsmall *{ height:16px; line-height:16px; letter-spacing: -1px;}
.button.medium { background-position:left 0;}
.button.large { background-position:left -217px;}
.button.small { background-position:left -86px;}
.button.xsmall { background-position:left -400px;}
.button.medium *{ padding:0 25px 0 15px; background-position:right top;}
.button.large *{ padding:0 15px; font-size:12px; background-position:right -217px; color: #ffffff !important;}
.button.small *{ padding:0 11px 0 7px; font-size:11px; background-position:right -86px; color: #333 !important;}
.button.xsmall *{ padding:0 5px 0 2px; font-size:11px; background-position:right -400px; color: #fff !important;}

.button.medium.gray {background-position:left -39px;}
.button.medium.gray *{ background-position:right -39px; color: #ffffff !important;}

.button.medium.ic {background-position:left -153px;}
.button.medium.ic *{ background-position:right -153px; color: #666 !important; padding: 0 30px 0 5px; height: 22px; line-height: 22px; font-size: 11px;}

.button.small.black {background-position:left -122px;}
.button.small.black *{ background-position:right -122px; line-height: 20px; color: #fff !important;}

.button.small.smallGray {background-position:left -368px;}
.button.small.smallGray *{ background-position:right -368px; line-height: 21px; color: #fff !important; padding-right: 15px;}

.button.large.largeBlue { }
.button.large.largeBlue *{ padding:0 20px 0 11px;}

.button.small.icon *{padding-right: 22px;}
.button.small.icon span { margin-left: -20px; padding: 0 !important; width: 20px; *position: relative; *left: -20px;}

.button.small.icon .help {background-position: -5px -417px;}
.button.small.icon .print {background-position: -33px -417px;}
.button.small.icon .delete {background-position: -59px -417px;}
.button.small.icon .add {background-position: -83px -417px;}

/* Button Hover */
.button *:hover,
.button *:active,
.button *:focus{ }

/* Button Strong */
.button.strong *{ font-weight:bold !important;}

/* //BUTTON end */

/* FOOTER */
#footer .bottom{ width: 980px; background: #fff url(../images/common/bottom_bg.gif) repeat-x 0 0; padding: 15px 0 30px; border-top: 1px solid #cdcdcd; *zoom: 1;}
#footer .bottom:after{ content: ""; display: block; clear: both;}
#footer .bottom .center{ padding-left: 15px; margin-left: 120px; padding-bottom: 13px;}
#footer .bottom .center ul li{ float: left; background: url(../images/common/division1.gif) no-repeat 0 45%;}
#footer .bottom .center ul li a{ display: inline-block; padding: 5px 10px}
#footer .bottom .center address{ margin: 2px 0 0 9px;}

/* layer popup */
.layer_relative{ position: relative; z-index: 99;}
.layer_pop{ position: absolute; display: none; border: 1px solid #409696; background: #409696 url(../images/content/layer_bg.gif) repeat-x 0 0; right: 10%; z-index: 100;}
.layer_pop h1{ font-size: 11px; color: #fff; padding: 5px 10px; border: 0; margin: 0; height: 15px;}
.layer_pop .layer_con{ position: relative; background: #ffffff; padding: 10px;}
.layer_pop .layer_close{ position: absolute; right: 5px; top: 5px; display: block; padding: 2px;}

/* popup */
.popup_bg{ background: #fff;}
#pop_wrap{ width:100%; margin: 0 auto; position: relative; background: #ffffff;}
#popHeader{ background: url(../images/common/pop_header_bg.gif) repeat-x 0 100%; padding-left: 22px;}
#popHeader h1{ font-size: 1.3em; _font-size: 16px; background: url(../images/common/pop_h1_bg.gif) no-repeat 100% 0; height: 55px; line-height: 3.5; color: #fff600 !important;}
#popHeader p{ margin: 20px 20px 0;}
#popContents{ background: #ffffff url(../images/common/pop_content_bg.gif) repeat-x 0 0; padding: 30px 20px;}
.pop_close{ position: absolute; right: 20px; top: 15px;  display: block; padding: 5px;}
#pop_footer{ background: #b3b3b3; padding: 10px; text-align: center; color: #fff; font-size: 11px;}

/* 스타일 정의 */
.inputData{ border: 1px solid #e4e6e8; padding: 0 5px; padding-top: 1px; height: 16px !important; font-size: 12px; margin-bottom: 1px;}
.inputFile{ border: 1px solid #e4e6e8; padding-top: 1px; height: 20px !important; font-size: 12px; margin-bottom: 1px; }
.inputDisible{ background: #f6f6f6;}
.inputRadio{ position: relative; top: 2px;}
.inputRChk{ margin: 0 3px 0 0; *position: relative; bottom: 1px;}
.h40{ height: 40px;}
.h80{ height: 80px;}
.h100{ height: 100px !important;}
.h150{ height: 150px !important;}
.h200{ height: 200px !important;}
.h500{ height: 500px;}
.stipulation{ background: #ffffff; overflow-x:hidden; overflow-y: scroll; padding: 10px; color: #727272;} 
.textarea{ border: 1px solid #e4e6e8; padding: 0 5px; padding-top: 1px; font-size: 12px; margin-bottom: 1px; }
.textarea.topLine{ border-top: 1px solid #059ad3;}

table input[type=text], table input[type=password], .boxStyle input[type=text], .user_area input[type=text], .user_area input[type=password]{ border: 1px solid #ddd; height: 18px; font-size: 11px; line-height: 1.6}
input[type=file]{ border: 1px solid #ddd; height: 20px; font-size: 11px;}

.scrollDiv{ background: #f3f8f9; border: 1px solid #ecf1f2; padding: 5px;}
.scrollDiv a{ font-size: 11px; color: #666 !important; line-height: 20px; cursor: pointer;}
.scrollDiv a strong, .scrollDiv a span{ display: inline-block;}
.overflow_x{ overflow-x: scroll;}
.overflow_y{ overflow-x:hidden; overflow-y: scroll;}
.pointer{ cursor: pointer;}

/* div float Hack */
#header .top:after, 
#topGnb:after, 
#topGnb li .sub ul:after, 
#container .content:after, 
.container_vis:after, 
.content_head:after, 
#footer .bottom:after, 
.btmGroup ul:after, 
.main_content:after, 
.process ol:after, 
#pop_wrap #popHeader:after, 
.main_contents:after, 
mainNoti ul:after, 
.sitemap:after, 
.boxStyle2:after, 
.join_intro ul:after, 
.openBiz:after, 
#all_menu .all_menu_box .all_menu_list ul li:after{ content: ""; display: block; clear: both;}

/* 이용안내 image */
.info01Bg {background: url(../images/content/guideInfo01_subimg03.gif) no-repeat 100% 0}
.info02Bg {background: url(../images/content/guideInfo02_subimg02.gif) no-repeat 100% 0}

/* 관련사이트 안내 image */
.info03Bg {background: url(../images/content/siteList_subimg.gif) no-repeat 100% 0}

/* 기타 */
.HBar {background: url(../images/content/HBar.gif) repeat-x 0 0}
.grid td td, .grid td th {padding:5px 10px; line-height:16px}
.grid td td input{ height: 15px; margin-bottom:1px;}
.grid td td select{ height: 15px;}
.grid .tlt {color:#222}

