UNKNOWN {
	FONT-SIZE: 8pt; COLOR: #ffffff; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.white {
	FONT-SIZE: 8pt; COLOR: #ffffff; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.white A {
	FONT-SIZE: 8pt; COLOR: #ffffff; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.white A:hover {
	FONT-SIZE: 8pt; COLOR: #ffffff; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
.blackb {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.blackb A {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.blackb A:hover {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
.menu {
	FONT-SIZE: 8pt; COLOR: #666666; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.menu A {
	FONT-SIZE: 8pt; COLOR: #666666; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.menu A:hover {
	FONT-SIZE: 8pt; COLOR: #666666; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
.top {
	FONT-SIZE: 8pt; COLOR: #0074bc; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.top A {
	FONT-SIZE: 8pt; COLOR: #0074bc; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.top A:hover {
	FONT-SIZE: 8pt; COLOR: #0074bc; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
.main {
	FONT-SIZE: 8pt; COLOR: #404040; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.main A {
	FONT-SIZE: 8pt; COLOR: #404040; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.main A:hover {
	FONT-SIZE: 8pt; COLOR: #404040; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
.main_title {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #4499ce; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.pro_text {
	FONT-SIZE: 8pt; COLOR: #404040; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.pro_text A {
	FONT-SIZE: 8pt; COLOR: #008b98; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.pro_text A:hover {
	FONT-SIZE: 8pt; COLOR: #008b98; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
.pro_title {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #008b98; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.pro_title A {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #008b98; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.pro_title A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #008b98; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
.pro_title2 {
	FONT-SIZE: 9pt; COLOR: #008b98; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.pro_title2 A {
	FONT-SIZE: 9pt; COLOR: #008b98; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.pro_title2 A:hover {
	FONT-SIZE: 9pt; COLOR: #008b98; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
.res_text {
	FONT-SIZE: 8pt; COLOR: #404040; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.res_text A {
	FONT-SIZE: 8pt; COLOR: #5891c9; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.res_text A:hover {
	FONT-SIZE: 8pt; COLOR: #5891c9; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
.res_title {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #5891c9; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.res_title A {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #5891c9; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.res_title A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #5891c9; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
.res_title2 {
	FONT-SIZE: 9pt; COLOR: #5891c9; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.res_title2 A {
	FONT-SIZE: 9pt; COLOR: #5891c9; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.res_title2 A:hover {
	FONT-SIZE: 9pt; COLOR: #5891c9; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
.buy_text {
	FONT-SIZE: 8pt; COLOR: #404040; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.buy_text A {
	FONT-SIZE: 8pt; COLOR: #007074; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.buy_text A:hover {
	FONT-SIZE: 8pt; COLOR: #007074; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
.buy_title {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #007074; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.buy_title A {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #007074; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.buy_title A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #007074; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
.buy_title2 {
	FONT-SIZE: 9pt; COLOR: #007074; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.buy_title2 A {
	FONT-SIZE: 9pt; COLOR: #007074; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.buy_title2 A:hover {
	FONT-SIZE: 9pt; COLOR: #007074; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
.info_text {
	FONT-SIZE: 8pt; COLOR: #404040; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.info_text A {
	FONT-SIZE: 8pt; COLOR: #404040; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.info_text A:hover {
	FONT-SIZE: 8pt; COLOR: #404040; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
.info_title {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #0066cc; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.info_title A {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #0066cc; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.info_title A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #0066cc; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
.info_title2 {
	FONT-SIZE: 9pt; COLOR: #0066cc; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.info_title2 A {
	FONT-SIZE: 9pt; COLOR: #0066cc; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
.info_title2 A:hover {
	FONT-SIZE: 9pt; COLOR: #0066cc; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
.title_red {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #FF0000; LINE-HEIGHT: 12pt; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
BODY {
	SCROLLBAR-FACE-COLOR: #dadada; SCROLLBAR-SHADOW-COLOR: #595959; SCROLLBAR-3DLIGHT-COLOR: #c9c9c9; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; SCROLLBAR-BASE-COLOR: #dadada
}
